
                   
                    <div class="points1" style="padding-top:20px;">
                        <div class="option">
                        <h2>Rate Your Current Maturity Level</h2>
                        <div style="clear:both"></div>
                        <br>

                        <div class="slabels"><span>Weak</span> <span style="margin-left:98px;">Basic</span> <span style="margin-left:80px;">Developing</span> <span style="margin-left:45px;">Differentiated</span> <span style="margin-left:45px;">World Class</span></div>
                       <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" ><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"  data-original-title="" title=""></a><br>
                        <br>
                        <%= f.hidden_field :answer_1%>                                              
                    </div>
                        </div>
                    </div>
                    <div class="points1" style="padding-top:20px;">
                        <div class="option" id="option">
                        <h2>Add to Plan?</h2>                 
                        
                        <a rel="tooltip" id ="in_our_plan" class="btn priorityTip"  data-original-title="first tooltip"><span><i class="icon-ok icon-white" id ="in_our_plan"></i></span> <strong id ="in_our_plan">In Our Plan</strong></a>
                        
                        <a rel="tooltip" id ="add_to_plan" class="btn priorityTip" data-original-title="second tooltip"><span><i class="icon-plus icon-white" id ="add_to_plan"></i></span> <strong id ="add_to_plan">Add to Plan</strong></a>

                        <a rel="tooltip" id ="not_applicable" class="btn form priorityTip"  data-original-title="third tooltip"><span><i class="icon-remove icon-white" id ="not_applicable"></i></span> <strong id ="not_applicable">Not Applicable</strong></a>
                        <%= f.hidden_field :answer_2%>                   
                        </div>
                    </div>
                    <div class="points1" style="padding-top:20px; height:auto;">
                        <div class="option" id="priority_option">
                        <h2>Priority</h2>
                        <a rel="tooltip" class="btn priorityTip" id ="must_do" data-original-title="first tooltip"><span><i class="icon-ok icon-white" id ="must_do"></i></span> <strong id ="must_do">Must Do</strong></a>
                        <a rel="tooltip" class="btn form priorityTip" id ="should_do" data-original-title="second tooltip"><span><i class="icon-plus icon-white" id ="should_do"></i></span> <strong id ="should_do">Should Do</strong></a>
                        <a rel="tooltip" class="btn form priorityTip" id="could_do" data-original-title="third tooltip"><span><i class="icon-check icon-white" id="could_do"></i></span> <strong id="could_do">Could Do</strong></a>
                        <%= f.hidden_field :answer_3%>
                        </div>
                    </div>
                    <p style="clear:both; margin:40px 0 40px 20px; float:left; height:auto; width:97%;">                        
                      <%= link_to("", :class=>"btn btn-success", :id=>"confirm_answer") do %>
                            <i class="icon-ok icon-white">
                            </i>Confirm Answer
                       <% end %> 
                        <% if(params[:question_id] > '1')%>
                        <%= link_to(previous_question_url(params[:id], params[:question_id].to_i - 1), :class=>"btn") do %>
                            <i class="icon-chevron-left">
                            </i>Previous Question
                       <% end %>                      
                        <%end%>
                        <!--<a href="#" class="btn btn-small btn-info" style="float:right; margin-right:20px;"><i class="icon-folder-close icon-white"></i> Save Work</a>-->
                      </p> 
               

                  