         
                    <div class="qdots" id="qdots"> 
                    <div style="background-color:'#FFF';">                    
                       <%= will_paginate(@questions, :renderer => WillPaginate::ActionView::  LinkRenderer) %>  
                    </div>
                   </div>
                </div>
                <div class="span3 rightBox" style="height:auto;">
                    <div class="processIcons">
                        <span>
                        <%= image_tag "qa.png",:width=>"47px",:height=>"49px" %>
                        <p style="color:#525c62;">Q&amp;A</p>
                        </span>
                        <span>
                        <%= image_tag "processing.png",:width=>"47px",:height=>"49px" %>
                        <p style="color:#c56d2b;">Demographics</p>
                        </span>
                        <span>
                        <%= image_tag "download.png",:width=>"47px",:height=>"49px",:style=>"margin-left: 26px;" %>
                        <p style="color:#116094; margin-left: 30px">Report</p>
                        </span>
                    </div>
                    <div class="scoreBoard">
                        <div class="head">Total score for this section </div>
                            <div class="score"><br>
                            <%= @total_score%>/<span style="font-size:30px;"><%= @section.total_points%>
                            </span> <br>
                            <span>POINTS</span>
                            </div>
                    </div>
                <div class="tips">
                        <!-- <div class="head"><%#= image_tag "info.png",:width=>"40",:height=>"37",:align=>"absmiddle"%>Tips from Revenizer </div> -->
                            <div class="text">
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <br>
                            </div>
                    </div>
