                    <div class="qdots" id="qdots"> 
                      <div class="pagination" >
                        <ul>    
                            <%if(params[:question_id].to_i == 1)%>                     
                                <li class="disabled">   
                                  <a class="prev">Prev</a>                     
                                </li>  
                            <%else%>
                                <li>
                                 <%= link_to 'Prev', questions_url(params[:id],
                                    params[:question_id].to_i - 1)%>
                                 </li>   
                             <%end%>
                            
                            <% @questions.each do |question|%>
                                <% if (question.id == params[:question_id].to_i) %>
                                    <li>
                                      <%= link_to questions_url(params[:id],question.id), 
                                      :title=>"#{question.id}", :rel=>"tooltip" do%>
                                      <i class="icon-ok-circle icon-white"></i>
                                      <%end%>
                                    </li>.
                                 <%elsif (question.id < params[:question_id].to_i)%>       
                                    <li>
                                      <%= link_to questions_url(params[:id],question.id), 
                                      :title=>"#{question.id}", :rel=>"tooltip" do%>
                                      <i class="icon-ok icon-white"></i>
                                      <%end%>
                                    </li>
                                <%else%>
                                    <li>
                                      <%= link_to questions_url(params[:id],question.id), 
                                      :title=>"#{question.id}", :rel=>"tooltip" do%>
                                      <i class="icon-ban-circle"></i>
                                      <%end%>
                                    </li>
                                <%end%>
                            <%end%>
                             <%if(params[:question_id].to_i == @question_all)%>
                               <li class ="disabled">
                                 <a class="next">Next</a> 
                              </li>
                             <%else%> 
                              <li>
                                <%= link_to 'Next', questions_url(params[:id],params[:question_id].to_i + 1)%>
                              </li>
                            <%end%>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="span3 rightBox rightBoxheight">
                    <div class="processIcons">
                        <span>
                        <%= image_tag "processing_grey.png",:width=>"47px",:height=>"49px" %>
                        <p class="demographicstext2">Demographics</p>
                        </span>

                        <span class="spacing">
                        <%= image_tag "qa.png",:width=>"47px",:height=>"49px",:class=>"qa" %>
                        <p class="qatext2">Q&amp;A</p>
                        </span>
                        
                        <span class="spacing">
                        <%= image_tag "download_grey.png",:width=>"47px",:height=>"49px",:class=>"reporticon"%>
                        <p class="reporttext">Report</p>
                        </span>
                    </div>
                    <div class="scoreBoard">
                        <div class="head" >
                          <p class="scoretext">Total score for this section</p> </div>
                            <div class="score"><br>
                           <%= @total_score%>/<span class="totalpoints"><%= @section.total_points%>
                            </span> <br>
                            <span>POINTS</span>

                            </div>
                    </div>

                     <div class="scoreBoard">
                        <div class="head">
                          <p class="abouttext">About Questions</p>
                        </div>
                            <div class="text1"><br>
                              <p class="abouttextcontent">
                               <%= @question.name%>                               
                                </p>
                              
                            </div> 
                             
                    </div>




             
 