         
                    <div class="qdots" id="qdots">
                        <%if @section.id == 1%>
                        <% j = 1 %>
                        <% k = 100%>
                        <% elsif @section.id == 2%>
                        <% j = 101 %>
                        <% k = 200%>
                        <%else%>
                        <% j = 201%>
                        <% k = 300%>
                        <%end%>
                        <% for i in j..k %> 
                           <% if i < @question.id %> 
                                <%= link_to("#", :id=>"question_#{i}") do %>                           
                                <span style="padding-left:20px;">
                                    <i class="icon-ok icon-white"></i>
                                </span>
                                <% end %>
                            <%elsif i == @question.id%>
                                <%= link_to("#", :id=>"question_#{i}") do %>                           
                                <span style="padding-left:20px;">
                                    <i class="icon-ok-circle icon-white"></i>
                                </span>
                                <% end %>
                            <%else%>
                                <%= link_to("#", :id=>"question_#{i}") do %>                           
                                <span style="padding-left:20px;">
                                   <i class="icon-ban-circle"></i>
                                </span>
                               <% end %>
                            <%end%>   
                        <%end%>
                    </div>
                </div>
                <div class="span3 rightBox" style="height:auto;">
                    <div class="processIcons">
                        <span>
                        <%= image_tag "1point.png",:width=>"47px",:height=>"49px" %>
                        <p style="color:#525c62;">Q&amp;A</p>
                        </span>
                        <span>
                        <%= image_tag "2point.png",:width=>"47px",:height=>"49px" %>
                        <p style="color:#c56d2b;">Processing</p>
                        </span>
                        <span>
                        <%= image_tag "3point.png",:width=>"47px",:height=>"49px" %>
                        <p style="color:#116094;">Download</p>
                        </span>
                    </div>
                    <div class="scoreBoard">
                        <div class="head">Total score for this section </div>
                            <div class="score"><br>
                            <%= @total_score%>/<span style="font-size:30px;"><%= @section.total_points%>
                            </span> <br>
                            <span>POINTS</span>
                            </div>
                    </div>
                <div class="tips">
                        <div class="head"><%= image_tag "info.png",:width=>"40",:height=>"37",:align=>"absmiddle"%>Tips from Revenizer </div>
                            <div class="text">
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <%= @question.name%><br>
                                <br>
                            </div>
                    </div>
