<table cellpadding="1" cellspacing="1" id="resultTable" class="report-body dataTable2"> 
                                               <thead>
                                                  <tr>
                                                    <th><h3>Question Number</h3></th>
                                                    <th><h3>Questions</h3></th>
                                                    <th><h3>Group</h3></th>
                                                    <th><h3>Points</h3></th>          
                                                    <th><h3>Score</h3></th>
                                                    <th><h3>Average Score</h3></th>
                                                    <th><h3>Calculated Score</h3></th>
                                                     <th><h3>Average Calculated Score</h3></th>
                                                    <th><h3>In Plan</h3></th>
                                                    <th><h3>Priority</h3></th>        
                                                  </tr>
                                                </thead>
                                                <tbody>
                                        <% @responses.each do |response| %>
                                            <tr>
                                                <td><%= response.questions_id %></td>
                                                <td><%= response.name %></td>
                                                <td><%= response.sub_sect_name%></td>
                                                <td><%= response.points %></td> 
                                                <td><%= response.score %></td>
                                                <td><%= response.avg_score.to_f()%> </td>  
                                                
                                                <td><%= response.response_id.present? ?
                                                  get_calculated_score(response.response_id, response.questions_id) : 0 %></td>
                                                <td><%= response.response_id.present? ? get_avg_calculated_score(response.survey_id, response.questions_id, response.section_id) : 0 %>
                                                 </td>   
                                                <% if(response.in_plan == "in_our_plan") %>
                                                    <td><%= 'Yes'%></td>
                                               <%else%>
                                                    <td><%= '-'%></td>
                                               <%end %>
                                                <td><%= response.answer_3 %></td> 
                                                </tr>
                                        <% end %>
                                        
                                                </tbody>           
                                          </table>      