<div class="container" style="margin-top:20px;">
            <div id="backcolor" class="span12" style="margin:0; background-color:#505b62;">
                  <ul class="nav nav-pills">
                   <% @allSection.each do |section| %>
                        <li class="next" id="section_<%=section.id%>">
                        <%= link_to("#") do %>
                            <%= image_tag "icon_cat.png", :width=>"14px", :height=>"14px",:style=>"margin-top:0px;padding-bottom:3px;" %>
                            <%= section.name%>
                            <span id ="span_<%=section.id%>" class="red">

                              <%= section.question_count%>
                            </span>
                        <% end %> 
                        </li>              
                        <%end%> 

                    <li class="next" id ="final_result">
                      <%= link_to(reports_url) do %>
                      <%= image_tag "icon_results.png", :width=>"14px", :height=>"14px", :style=>"margin-top:0px;padding-bottom:3px;" %>&nbsp;
                      Final Result
                      
                    <%#= link_to 'Final Result', reports_url%>
                  <%end%>
                    </li>

                    <%= hidden_field_tag('section', @section.id)%>                    
                  </ul>
            </div>
        </div>

