		<div class="container surveymain">
			<div class="row-fluid">
				<div class="span9 leftBox surveyDetail">
          <div class="question">
            <h1>
              Survey Details
            </h1>
          </div>
          <div class="text2" >
          <p>Survey on <%= @survey_date%>
          </p>
          </div>

          <div class="text" >
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum <br>id quis quam.
          Sed quis suscipit tortor.
          </p>
          </div>
           <div class="revenuecontainer">   
          <%= form_for(@survey, :url=>{:action => "create"}, :validate => true) do |f| %>
             <div class="points">
                        <div class="option">
                          <h3>Company Size</h3>
                    <%#= f.text_field :size ,:class=>"span3", :placeholder=>"size"%>
                    <%= f.select :size, [['0-10'],['11 - 20'],['21 - 50'],['51 - 100'],['101-300'],['301-500'],['above 500']],:class=>"span3" %>

                    <br>
                </div>
              </div>
              <div class="points totalrevenue">
                <div class="option" >
                  <h3>What is total revenue in last 12 months?</h3>
                  <%= f.select :revenue, [['0-10000'],['10001- 50000'],['50001 - 100000'],['100001-500000'],['more then 500000']],:class=>"span3" %>
                </div>
              </div>

              <div class="gap">
                <%= f.submit "Start Survey", :class=>"btn btn-primary icon-remove icon-white" ,:input_html =>{:class=>"btnSurvey"} %>
              </div>
        <% end %>
       	</div>
        </div>
       
<% if @previous_surveys.present?%>
       <div class="span3 rightBox" >
                    <div class="processIcons">
                        <span>
                        <%= image_tag "processing.png",:width=>"47px",:height=>"49px" %>
                        <p class="demographicstext">Demographics</p>
                        </span>

                        <span class="spacing">
                        <%= image_tag "qa_grey.png",:width=>"47px",:height=>"49px",:class=>"qa" %>
                        <p class="qatext">Q&amp;A</p>
                        </span>
                        
                        <span class="spacing">
                        <%= image_tag "download_grey.png",:width=>"47px",:height=>"49px",:class=>"reporticon"%>
                        <p class="reporttext">Report</p>
                        </span>
                    </div>
                        <h2 class="previous">Previous Surveys 333 </h2>
                    
                     <% current_user.companies.each do |cmpany| %>
                     <% @inactive_survey = cmpany.surveys.find(:all, :conditions=>["is_active=?", false], :limit=>2, :order=>'created_at Desc') %> 
                        <% if @inactive_survey.present?%>                     
                          <% @inactive_survey.each_with_index do |survey, i|%>

                          <div class="Baloon surveyBaloon" >
                            <div class="head1"><h1>
                              <%= link_to "#{survey.created_at.strftime('%B  %Y')}", reports_url(survey)%></h1>
                            </div>
                             <div class="score1">                              
                              <span><%= @response[i]%></span>
                            </div>
                          <%end%>
                          <% end %> 
                          <%end%>
                    </div>
          
                   

                </div>

	         <%else%>
           <div class="span3 rightBox" >
                  
                        <h2 class="prevSurvey">Previous Surveys  </h2>
                    
                    <div class="Baloon surveyBaloon" >
                        <div class="head1"><h1>January 2011 </h1>
                    
                        </div>
                            <div class="score1">
                            <span><%= image_tag "sampletext.png"%></span>
                            </div>
                    </div>

                    <div class="Baloon surveyBaloon" >
                        <div class="head1"><h1>March 2012 </h1></div>
                            <div class="score1">
                            <span><%= image_tag "sampletext.png"%></span>
                            </div>
                </div>

                </div>


          <%end%>
			</div>
		</div> 