		<div class="container surveymain">
			<div class="row-fluid">
				<div class="span9 leftBox surveyDetail">
          <div class="question">
            <h1>
              Survey Details
            </h1>
          </div>
          <div class="text" >
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum <br>id quis quam.
          Sed quis suscipit tortor.
          </p>
          </div>
           <div class="revenuecontainer">   
          <%= form_for(@survey, :url=>{:action => "create"}, :validate => true) do |f| %>
             <div class="points">
                        <div class="option">
                          <h3>Industry Size</h3>
                    <%#= f.text_field :size ,:class=>"span3", :placeholder=>"size"%>
                    <%= f.select :size, [['10 - 20'],['21 - 50'],['51 - 100']],:class=>"span3" %>

                    <br>
                </div>
              </div>
              <div class="points totalrevenue">
                <div class="option" >
                  <h3>What is total revenue in last 12 months?</h3>
                  <%= f.select :revenue, [['more then 500000'],['500000-1500000'],['1500000 and more']],:class=>"span3" %>
                </div>
              </div>

              <p>
                <%= f.submit "Start Survey", :class=>"btn btn-primary icon-remove icon-white" ,:input_html =>{:class=>"btnSurvey"} %><i class="icon-folder-close icon-white"></i>
              </p>
        <% end %>
       	</div>
        </div>
<% if @previous_surveys.present?%>
       <div class="span3 rightBox" >
                  
                        <h2 class="previous">Previous Survey  </h2>
                    
                    <div class="Baloon surveyBaloon" >
                        <div class="head1"><h1>January 2011 </h1>
                    
                        </div>
                            <div class="score1">
                            <span>700</span>
                            </div>
                    </div>

                    <div class="Baloon">
                        <div class="head1"><h1>March 2012 </h1></div>
                            <div class="score1">
                            <span>600</span>
                            </div>
                </div>

                </div>

	         <%else%>
           <div class="span3 rightBox" >
                  
                        <h2 class="prevSurvey">Previous Survey  </h2>
                    
                    <div class="Baloon surveyBaloon" >
                        <div class="head1"><h1>January 2011 </h1>
                    
                        </div>
                            <div class="score1">
                            <span><%= image_tag "sampletext.png"%></span>
                            </div>
                    </div>

                    <div class="Baloon surveyBaloon" >
                        <div class="head1"><h1>March 2012 </h1></div>
                            <div class="score1">
                            <span><%= image_tag "sampletext.png"%></span>
                            </div>
                </div>

                </div>


          <%end%>
			</div>
		</div> 