        <%= javascript_include_tag 'jquery'%>
        <div class="container" style="margin-top:20px;">
            <div class="span9" style="margin:0; background-color:#505b62;">
                   <ul class="nav nav-pills">
                    <li class="done"><a href="#">Strategy <span>24</span></a></li>
                    <li class="on"><a href="#">Systems <span>80</span></a></li>
                    <li class="next"><a href="#">Programs </a></li>
                    <li class="next"><a href="#">Final Result</a></li>
                  </ul>
            </div>
        </div>
        <div class="container" style="margin-top:20px;">
            <div class="row-fluid">
                <div class="span9 leftBox" style="height:auto;background-color:#ffffff">
                    <div class="question">
                        <h1>                            
                            <%= @question.name%>
                        </h1>
                        <h2>
                            Q5
                            <%#= @question.point for setting the point for each question %>                           
                        </h2>
                    </div>
                    <%= form_for(:response, :url=>reponses_update_url) do |f|%>  
                    <%= render "questions_set", :f => f%>
                    <%end%>
                    <%= render "question_details"%>
                </div>
            </div>
        </div> 



          <script>
         $(document).ready(function(){ 
             
               //to set the slider value 
               var response_answer1 = $('#response_answer_1').val(); 

               //hide priority option on load
               if($('#response_answer_2').val() == "add_to_plan"){
                var response_answer3 = $('#response_answer_3').val();
                $('#priority_option').find('a#'+response_answer3+'').removeClass('btn form priorityTip');
                $('#priority_option').find('a#'+response_answer3+'').addClass('btn form btn-success priorityTip');
                $('#priority_option').show();
               }
               else{
                $('#priority_option').hide();
               }
                var response_answer2 = $('#response_answer_2').val();
                $('#option').find('a#'+response_answer2+'').removeClass('btn form priorityTip');
                $('#option').find('a#'+response_answer2+'').addClass('btn form btn-success priorityTip');
              
                              
               //For the Add to Plan options
                $('#option').click(function(e){
                    //set the add to plan options 
                    $('#response_answer_2').val(e.target.id); 
                    //make option as grey
                    $('#option').find('a#in_our_plan').removeClass($('#option').find('a#in_our_plan').
                        attr('class'));
                    $('#option').find('a#add_to_plan').removeClass($('#option').find('a#add_to_plan').
                        attr('class'));
                    $('#option').find('a#not_applicable').removeClass($('#option').find('a#not_applicable').attr('class'));                    
                    
                    $('#option').find('a#in_our_plan').addClass('btn form priorityTip');
                    $('#option').find('a#add_to_plan').addClass('btn form priorityTip');
                    $('#option').find('a#not_applicable').addClass('btn form priorityTip');
                    
                    //make the selected to green
                    $('#option').find('a#'+e.target.id+'').removeClass('btn form priorityTip');
                    $('#option').find('a#'+e.target.id+'').addClass('btn form btn-success priorityTip');
                    //if Add to Plan is clicked the show the priority tab
                    if(e.target.id == "add_to_plan"){
                      $('#priority_option').show();                      
                    }
                    else{
                      $('#priority_option').hide();  
                    }
                });

                //For the Priority options
                $('#priority_option').click(function(e){
                    $('#response_answer_3').val(e.target.id);                     
                    
                    //make all option as grey
                    $('#priority_option').find('a#must_do').removeClass($('#option').find('a#must_do').
                        attr('class'));
                    $('#priority_option').find('a#should_do').removeClass($('#option').find('a#should_do').
                        attr('class'));
                    $('#priority_option').find('a#could_do').removeClass($('#option').find('a#could_do').attr('class'));
                    
                    $('#priority_option').find('a#must_do').addClass('btn form priorityTip');
                    $('#priority_option').find('a#should_do').addClass('btn form priorityTip');
                    $('#priority_option').find('a#could_do').addClass('btn form priorityTip');

                    //make selected option as green                    
                    $('#priority_option').find('a#'+e.target.id+'').removeClass('btn form priorityTip');
                    $('#priority_option').find('a#'+e.target.id+'').addClass('btn form btn-success priorityTip');
                });
               
                
                $(".priorityTip").tooltip({
                    placement: 'bottom' 
                }); 
                
                
                
                $( "#slider" ).slider({
                    value:response_answer1,
                    min: 1,
                    max: 5,
                    step: 1,
                    slide: function( event, ui ) {
                        switch(ui.value){
                            case 1 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 0'); break;
                            case 2 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 25'); break;
                            case 3 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 50'); break;
                            case 4 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 75'); break;
                            case 5 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 100'); break;
                        }
  

                    }
                });

                $("#slider").slider({
                   change: function(event, ui) {
                    $( "#answer_1" ).val( $( "#slider" ).slider( "value" ) );
                }
                });
                


                $("div#slider a.ui-slider-handle").tooltip({
                    placement: 'bottom' 
                });
                $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 0');
                
            });
         </script>
