<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revenue Grader - Survey Reports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <%#= javascript_include_tag "jquery.dataTables.min","jquery-ui-1.8.18.custom.min"%>  
       <%#= render :partial=>"reports_css"%>
       </head> 
       
        <!-- Le styles -->
<%#= content_for :main_content do%>
        <%= stylesheet_link_tag "application",:media => "all" %>
        <%#= stylesheet_link_tag "jquery.dataTables"%>
        <%= render :partial=>"reports_css"%>
        <div class="content" style="page-break-after:always;">
            <h1>Revenue Grader</h1>
            <h1>Report 2012</h1>
            <h1>For Test-Company</h1>
        </div>

        <div class="overall" style="page-break-after:always;">
           <h1>Overall Graph</h1>
          <div class="graph" style="background-color:#FFF;">
            
            <img src="<%#= @line_graph %>">
             
          </div>
        </div>

        <div class="content" style="page-break-after:always;">
             <h1>Strategy</h1>
        </div>

        <div class="content" style="page-break-after:always;">
          <div class="graph">
            <h1>Strategy Graph</h1>
            <img src="<%#= @line_graph_strategy %>"/>
              
          </div>
          <div class="textbox">
             <%= render :partial=>"report_response_table"%>            
          </div> 
        </div>


        <div class="content" style="page-break-after:always;">
             <h1>System</h1>
        </div>

        <div class="content" style="page-break-after:always;">
          <div class="graph">
             <h1>System Graph</h1>

            <img src="<%#= @line_graph_system %>"/>
            
          </div>
          <div class="textbox">
            <%= render :partial=>"report_response_table"%>
                      </div> 
        </div>


        <div class="content" style="page-break-after:always;">
             <h1>Programs</h1>
        </div>

        <div class="content" style="page-break-after:always;">
          <div class="graph">
             <h1>Program  Graph</h1>
             <img src="<%#= @line_graph_programs%>"/>
          </div>
          <div class="textbox">
            <%= render :partial=>"report_response_table"%>          
          </div> 
        </div>


        <div class="content" style="page-break-after:always;">
             <h1>Actions</h1>
        </div>

        <div class="content" style="page-break-after:always;">
             <h1>Must Do</h1>
        </div>

        <div class="content" style="page-break-after:always;">
             <h1>Should Do</h1>
        </div>


        <div class="content" style="page-break-after:always;">
             <h1>Could Do</h1>
        </div>

        <div class="content" style="page-break-after:always;">
             <h2>About Revenue Grader</h2>
             <p class="aboutrevenue">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean eu erat et velit dapibus bibendum id quis quam.
          Sed quis suscipit tortor.</p>
        </div>
<%#end%>
   
    </body>
</html>


          