<div class="container" style="padding-top:20px;">
        	<div class="spa@section_total.inspectn9" style="margin:0; background-color:#505b62; width:100%;">
                   <ul class="nav nav-pills">
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Strategy <span class="red"><%= @sections[0].total_points %></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Systems <span class="red"><%= @sections[1].total_points%></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Programs <span class="red"><%= @sections[2].total_points%></span> </a></li>
                    <li class="next"><a href="#"><%= image_tag "shoulddo.png",:width=>"16px",:height=>"16px",:style=>"margin-top:-5px;border-radius:20px;"%>&nbsp;&nbsp;Final Result <span class="green"><%= @sections[0].total_points + @sections[1].total_points + @sections[2].total_points%></span> </a></li>
                  </ul>
            </div>
</div>
<div class="container" style="margin-top:20px;">
	<div class="row-fluid" style="margin-left: 0;">
				
             <%@sections.each do |section|%>
                <div class="span4" style="background-color: white;width:28%;">
                    <h2><%= section.name%></h2>
                 <div>
                    <div id="accordion1" class="pageAccordion">
                        <% section.sub_sections.each do |sub_section|%>                     
                            <h3><a href="#"><%= sub_section.name%></a><i>
                                <%= @subsection_total[sub_section.id - 1]%></i></h3>
                            <div>
                              <p>
                                <% sub_section.questions.each do |question| %>
                                    <div class="ques"><span>
                                        <%= question.id%>.<%= question.name%></span>
                                        <i><%= @questions_score[question.id - 1] ? 
                                            @questions_score[question.id - 1] : '--' %></i>
                                    </div>
                                   <%end%>            
                                </p>
                             </div>
                        <%end%>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="scoreBox">
                    <div class="finalScore">
                    TOTAL
                    <span><%= @section_total[section.id - 1]%>
                    <i>POINTS</i></span>
                    </div>
                    </div>
               </div>
               <%if(section.id < 3)%>
                <div class="plus">+</div>
            <%end%>
        <%end%>                
	</div>
</div>

        <div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span7" style="text-align:center;height:170px;background-color:white;">
                	<div style="padding:15px;">
                        <h3 style="color: #00A54F;">Thank you for taking the survey.</h3><br>
                        <h2 style="color: #0086AC;">Your Final Score is <span><%= @final_score%> points</span></h2><br>
						<a href="#" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"></i> Tips and tricks to improve score</a>
                    </div>
				</div>
                <div class="span3" style="margin-left:0; padding-right:10px;padding-left:10px;background-color:#394247;
                height:170px;">
                	<div style="padding:0px;">
                        <div style="float:left; width:82px;">
                            <h2 class="revenue">Revenue<br>
                            <span>Grade</span><br>
							<!--<img src="img/stars.png" alt="stars">-->
                            <%#= image_tag("star-on.png")%>
							<div id="fixed">

                            </div>
                            </h2>
                        </div>
                        <div class="grade">
                        <span>Grade CODE</span>
                        </div>
                    </div>
				</div>
                <div class="span2" style="margin-left:0; padding-right:10px;padding-left:10px;text-align:center;height:170px;background-color:#0086ac;color:#fff;"><br>
                    <br>
                    <a href="#" style="color:#fff;">
                    <%= link_to image_tag("download_icon.png"),download_url(request.parameters.merge({:format => :pdf})), :class => "downloadIcon" %>
                    Download
                    <br>
                    Result</a><br>                
                                        
                    <br>
					<button class="btn btn-small">Compare with<br>Benchmark</button>
				</div>
			</div>
		</div>



		  