<div class="container" style="margin-top:20px;">
        	<div class="spa@section_total.inspectn9" style="margin:0; background-color:#505b62; width:100%;">
                   <ul class="nav nav-pills">
                    <li class="done"><a href="#">Strategy <span><%= @sections[0].total_points %></span></a></li>
                    <li class="done"><a href="#">Systems <span><%= @sections[1].total_points%></span></a></li>
                    <li class="done"><a href="#">Programs <span><%= @sections[2].total_points%></span> </a></li>
                    <li class="on"><a href="#">Final Result <span style="background-color:#00A54F;"><%= @sections[0].total_points + @sections[1].total_points + @sections[2].total_points%></span> </a></li>
                  </ul>
            </div>
        </div>
		<div class="container" style="margin-top:20px;">
			<div class="row-fluid" style="margin-left: 0;">
				
             <%@sections.each do |section|%>
                <div class="span4" style="background-color: white;width: 28.91%;">
                    <h2><%= section.name%></h2>
                    <div>
                        <div id="accordion1" class="pageAccordion">
                        <% section.sub_sections.each do |sub_section|%>                     
                            <h3><a href="#"><%= sub_section.name%></a><i>
                                <%= @subsection_total[sub_section.id - 1]%></i></h3>
                            <div>
                              <p>
                                <% sub_section.questions.each do |question| %>
                                    <div class="ques"><span>
                                        <%= question.id%>.<%= question.name%></span>
                                        <i><%= @questions_score[question.id - 1] ? 
                                            @questions_score[question.id - 1] : '--' %></i>
                                    </div>
                                <%end%>            
                              </p>
                            </div>
                        <%end%>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="scoreBox">
                    <div class="finalScore">
                    TOTAL
                    <span><%= @section_total[section.id - 1]%>
                    <i>POINTS</i></span>
                    </div>
                    </div>
               </div>
            <div class="plus">+</div>
        <%end%>                
		
        <div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span7" style="text-align:center;height:170px;background-color:white;">
                	<div style="padding:15px;">
                        <h3 style="color: #00A54F;">Thank you for taking the survey.</h3><br>
                        <h2 style="color: #0086AC;">Your Final Score is <span><%= @final_score%> points</span></h2><br>
						<a href="#" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"></i> Tips and tricks to improve score</a>
                    </div>
				</div>
                <div class="span3" style="margin-left:0; padding-right:10px;padding-left:10px;background-color:#394247;
                height:170px;">
                	<div style="padding:10px;">
                        <div style="float:left; width:82px;">
                            <h2 class="revenue">Revenue<br>
                            <span>Grade</span><br>
							<!--<img src="img/stars.png" alt="stars">-->
							<div id="fixed">

                            </div>
                            </h2>
                        </div>
                        <div class="grade">
                        <span>Grade CODE</span>
                        </div>
                    </div>
				</div>
                <div class="span2" style="margin-left:0; padding-right:10px;padding-left:10px;text-align:center;height:170px;background-color:#0086ac;color:#fff;"><br>
                    <br>
                    <a href="#" style="color:#fff;">
                    <%= image_tag "download_icon.png",:class => "downloadIcon" %>
                    
                                        Download<br>
                                        Result</a><br>                
                                        
                    <br>
					<button class="btn btn-small">Compare with<br>Benchmark</button>
				</div>
			</div>
		</div>



		  