<div class="container report-top">
          <div class="spa@section_total.inspectn9 report-top1" >
                   <ul class="nav nav-pills">
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Strategy <span class="red"><%#= @sections[0].total_points %></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Systems <span class="red"><%#= @sections[1].total_points%></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Programs <span class="red"><%#= @sections[2].total_points%></span> </a></li>
                    <li class="next"><a href="#"><%= image_tag "shoulddo.png",:width=>"16px",:height=>"16px",:class=>"finalmenu"%>&nbsp;&nbsp;Final Result <span class="green"><%#= @sections[0].total_points + @sections[1].total_points + @sections[2].total_points%></span> </a></li>
                  </ul>
            </div>
</div>
<div class="container report-top" >
  <div class="row-fluid">
    <table cellpadding="1" cellspacing="1" id="resultTable" class="report-body"> 
          <thead>
            <tr>
              <th><h3>Questions</h3></th>
              <th><h3>Group</h3></th>
              <th><h3>Score</h3></th>
              <th><h3>In Plan</h3></th>
              <th><h3>Priority</h3></th>
              <th><h3>Points</h3></th>
            </tr>
          </thead>
          <tbody>
            <% @responses.each do |response| %>
                <tr>
                    <td><%= response.name %></td>
                    <td><%= "Strategy: Acquire" %></td>
                    <td><%= response.answer_1 %></td>
                    <td><%= "Y" %></td>
                    <td><%= "Must" %></td>
                    <td><%= response.points %></td>
                </tr>
            <% end %>

          </tbody>        
    </table>      

  </div>
</div>

        <div class="container report-top">
      <div class="row-fluid">
        <div class="span7 report-footer" >
                  <div class="report1">
                        <h3 >Thank you for taking the survey.</h3><br>
                        <h2 >Your Final Score is <span><%= @final_score%> points</span></h2><br>
            <a href="#" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"></i> Tips and tricks to improve score</a>
                    </div>
        </div>
                <div class="reportcontainer">
                <div class="span3 center-footer" >
                  <div >
                        <div class="center-footer1">
                            <h2 class="revenue">Revenue<br>
                            <span>Grade</span><br>
              <!--<img src="img/stars.png" alt="stars">-->
                            <%#= image_tag("star-on.png")%>
              <div id="fixed">

                            </div>
                            </h2>
                        </div>
                        <div class="grade">
                        <span>Grade CODE</span>
                        </div>
                    </div>
        </div>
                <div class="span2 center-footer2" ><br>
                    <br>
                    <a href="#" >
                    <%= link_to image_tag("download_icon.png"),download_url(request.parameters.merge({:format => :pdf})), :class => "downloadIcon" %>
                    Download
                    <br>
                    Result</a><br>                
                                        
                    <br>
          <button class="btn btn-small">Compare with<br>Benchmark</button>
        </div>
      </div>
    </div>
        <div>


      