<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3><%= f.label :username %><span>*</span></h3>
  <%= f.text_field :username %><br>

  <h3><%= f.label :email %><span>*</span></h3>
  <%= f.email_field :email %><br>

  <h3><%= f.label :password %><span>*</span></h3>
  <%= f.password_field :password %><br>

  <%#= f.label :password_confirmation %><br />
  <%#= f.password_field :password_confirmation %>
  <label class="checkbox">
     <input type="checkbox" checked> <p style="font-size:11px; width:220px; margin:10px 0 20px 0;">Please send me updates and tips from Revenue Grader. <a href="#">Privacy Policy</a></p>
  </label>
  <%= f.submit "Sign up and Get Started!" %>
<% end %>

<%#= render "links" %>
