   <div class="span6">
           <% logo_link_path =( user_signed_in? ?  new_user_session_path : root_path )%>
            <%= link_to image_tag('logo.png', :alt=>"logo", :class=>"pull-left"), logo_link_path %>
            <div class="pull-left brand-name">
              brought to you by&nbsp;<%= link_to image_tag("ra_logo.png", :alt=>"ra_logo",:class=>"brand-image"), logo_link_path %>
            </div>

        </div>
        <div class="span6">
             <% if user_signed_in? %>
                <i class="icon-user "></i>&nbsp; 
                <%= "#{current_user.username}" %>&nbsp;<br/>
                <% if current_user.companies.present? %>
                <i class="icon-home "></i>&nbsp;
                 <%= "#{current_user.companies.first.name}"%>
                 <%end%>     
                <%= link_to "Logout", destroy_user_session_path, :class=>"btn" %>
          
              <%else%>
          
              <ul class="nav nav-pills top-links">
                <!-- #TODO: Find active path -->
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About Us", aboutus_path %></li>
                <li><%= link_to "Contact Us", contactus_path %></li>
              </ul><!-- / -->
              <div class="nav pull-right button-bar">
                  <%= link_to "Login", new_user_session_path, :class=>"btn btn-primary" %>
                  <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-primary"%>
              </div><!-- / -->
                
              <%end%>
          
        </div><!-- /  end of right span6-->