<div class="container" style="margin-top:25px;">
      <div class="row-fluid">
        <div class="span8 leftBox">
          <div class="arrows">
                        <h1>
                            Assess your <br />
                            <strong>Revenue Potential <%= link_to 'now', new_user_session_path %></strong>
                        </h1>
                    </div>
                    <div class="points" style="padding-top:20px;">
                      <div class="icon">
                          <%= image_tag "1point.png", :alt=>"icon" %>
                        </div>
                        <div class="picon">
                      <h2>1. Rate yourself on key revenue drivers</h2>
                        <p style="color:#000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor. </p>
                        </div>
                    </div>
                    <div class="points">
                      <div class="icon">
                        <%= image_tag "2point.png", :alt=>"icon" %>
                        </div>
                        <div class="picon">
                      <h2 style="color:#c56d2b;">2. We instantly process the results</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor. </p>
                        </div>
                    </div>
                    <div class="points">
                      <div class="icon">
                        <%= image_tag "3point.png", :alt=>"icon"%>
                        </div>
                        <div class="picon">
                      <h2 style="color:#bff0f7;">3. Download your report</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor. </p>
                        </div>
                    </div>
        </div>
        <div class="span4 rightBox">
                 <ul class="nav nav-tabs">
                            <li class="active">
                               <a style="background-color:#ffffff;" href="#home" data-toggle="tab" id="home_click"><%= image_tag("rg_icon.png", 
                            :alt=>"home")%><strong>Sign Up with us</strong></a></li>                
                            <li>
                               <a href="#twitter" data-toggle="tab" style="background-color:#53b1f0;" id="twitter_click" >
                                   <%= image_tag "twitter_icon.png", :alt=>"twitter", :id=>"twitter_click"%>
                               </a>
                            </li>
                            <li>
                                <a href="#facebook" data-toggle="tab" style="background-color:#3b5998;" id="facebook_click">
                                   <%= image_tag "facebook_icon.png", :alt=>"facebook", :id=>"facebook_click"%>
                                </a>
                            </li>
                            <!--<li>
                                <a href="#plus" data-toggle="tab" style="background-color
                                :#bb2a0b;" id="google_click">
                                   <%#= image_tag "plus_icon.png", :alt=>"plus", :id=>"google_click" %>
                                 </a>
                             </li>
                             <li>
                                <a href="#linkedin" data-toggle="tab" style="background-color:#006695;", id="linkedin_click">
                                   <%#= image_tag "linkedin_icon.png", :alt=>"linkedin", :id=>"linkedin_click" %>
                                 </a>
                             </li>-->
                            </ul>
                             
                            <div class="tab-content" id="tab-content">
                            <div class="tab-pane active" id="home">

                                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :validate => true) do |f| %>
                                <h3>Email<span>*</span></h3>
                                <%= f.email_field :email, :class=>"span3", :placeholder=>"Your Email id"  %><br> <br> 
                                <h3>Password<span>*</span></h3><%= f.password_field :password, :class=>"span3", :placeholder=>"Password"  %>
 
                                <%= f.submit "Login", :class=>"btn btn-primary btn-large" %>
                               <span> or </span> &nbsp; <span> <%= link_to "Register", new_user_registration_path%></span>
                               <%= hidden_field_tag('login', "yes")%>
                               
                               <%end%>
                            </div>
                            <div class="tab-pane" id="twitter">Login with Twitter
                                <br>
                                <%= link_to image_tag("twitter.jpeg" , :alt=>"twitter"),                 user_omniauth_authorize_path(:twitter),
                                                     :style=>"background-color:#53b1f0;" %>
                            </div>   
                            <div class="tab-pane" id="facebook">Login With Facebook 
                            <br> 
                                <%= link_to image_tag("facebook.jpeg", :alt=>"facebook"), 
                                                     user_omniauth_authorize_path(:facebook),
                                                     :style=>"background-color:#3b5998;"%>
                            </div>
                            <div class="tab-pane" id="plus">Login with Google Plus 
                                <br>
                                <%#= link_to image_tag("google.jpeg", :alt=>"google"), 
                                                     user_omniauth_authorize_path(:google),
                                                     :style=>"background-color:#bb2a0b;"%>
                            </div>
                            <div class="tab-pane" id="linkedin">Linked in login screen
                                <br>
                                <%#= link_to image_tag("linkedin_icon.png", :alt=>"linkedin"), 
                                                     user_omniauth_authorize_path(:facebook),
                                                     :style=>"background-color:#006695;"%>   
                            </div>
                            </div>
        </div>
      </div>
    </div> 