 <div class="arrows">
                        <h1>
                            Assess your <br />
                            Revenue Potential <%= link_to 'now', new_user_session_path %>

                        </h1>

                    </div>
                    <div class="arrows2"></div>
                    <div class="arrowhead"></div>
                    <div class="points left">
                      <div class="icon">
                          <%= image_tag "1point.png", :alt=>"icon" %>
                        </div>
                        <div class="picon">
                      <h2>1. Rate yourself on key revenue drivers</h2>
                        <p>Revenue Grader is a self-diagnostic for revenue performance. Tell us your practices across three dimensions: Revenue Strategy, Revenue Systems and Revenue Programs and gain a comprehensive view of your revenue performance potential. </p>
                        </div>
                    </div>
                    <div class="points left">
                      <div class="icon">
                        <%= image_tag "2point.png", :alt=>"icon" %>
                        </div>
                        <div class="picon">
                      <h2 class="point2">2. We instantly process the results</h2>
                        <p>Score each practices based on your current capability, then select and prioritize the items that need development.  Revenue Grader will quickly process your results and develop your top-line revenue plan. </p>
                        </div>
                    </div>
                    <div class="points left">
                      <div class="icon">
                        <%= image_tag "3point.png", :alt=>"icon"%>
                        </div>
                        <div class="picon">
                      <h2 class="point3">3. Download your report</h2>
                        <p>After completing the diagnostic, you can view, sort and print your revenue plan. Need some help with further planning and implementation? <%= link_to "Revenue Architects", "http://www.revenuearchitects.com", :target => "new"%> can help. </p>
                        </div>
                    </div>
