<table cellpadding="1" cellspacing="1" id="feed_table" class="report-body dataTable2"> 
                                  <thead>

                                    <tr>
                                      <th><h3>#</h3></th>
                                      <th><h3>Subject</h3></th>
                                      <th><h3>Email</h3></th>
                                      <th><h3>Comments</h3></th>
                                      <th><h3>Created at</h3></th>
                                    </tr>
                                  </thead>
                                  <%#= @feedbacks.inspect%>
                                  <tbody>
                                    <% @feedbacks.each do |feedback| %>
                                        <tr>
                                            <td><%= feedback.id %></td>
                                            <td><%= feedback.subject %></td>
                                            <td><a href="mailto:<%= feedback.email %>"><%= feedback.email %></td>
                                            <td><%= feedback.comment %></td>
                                            <td><%= feedback.created_at %></td>
                                        </tr>
                                            <% end %>

                                          </tbody>        
                                </table> 