		<div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span9 leftBox" style="height:auto;background-color:#ffffff">                  
          <div class="question">
            <h1> Company Details </h1>
          </div>
                     
           <br/>
           <div style="padding-left:0px; padding-top:0px; margin-top:0px">
              <%= form_for(@company, :validate => true) do |f| %>
                 <%= @company_error_messages %>
                     <div class="points" style="margin-top:5px; padding-top:0px" >
                        <div class="option" >
                        <h3>Your Company Name<span style="color:red;">*</span></h3>
                        <%= f.text_field :name, :maxlength=>"40", :validate =>{:presence => true}, :class=> "input-xlarge" %><br/>
                        <small>Your Company Name</small>
                        </div>
                     </div>      
                     <div class="points" style="margin-top:45px" >
                        <div class="option" >
                           <h3>Website<span style="color:red;">*</span></h3>
                           <%= f.text_field :website, :maxlength=>"40", :validate =>
                                           { :presence => true, :uniqueness => true} ,:class=> "input-xlarge" %><br/>
                                           <small>www.example.com</small>
                        </div>
                     </div>
                     <div class="points" style="margin-top:45px" >
                        <div class="option ">
                          <h3>Industry</h3>                                
                          <%= f.select "industry_id", options_for_select(@industry.collect{|x| [x.name,x.id]}) %>  
                        </div>
                     </div>
                     <div class="points" style="margin-top:60px;">
                     <%= f.submit "Continue to Survey" ,:class =>"btn btn-primary icon-remove icon-white" %>                 
                <% end %>
              </div>				
             </div>  
           </div>
				   <div class="span3 rightBox" >
               <div class="scoreBoard" style="margin-top:2px;">
                  <div class="head">About Revenue Grader </div>
                     <div class="score">
                        <span>Some notes on revenue grader</span>
                     </div>
                  </div>
                  <div class="scoreBoard">
                     <div class="head">About Revenue Architects </div>
                        <div class="score">
                            <span>Some notes on revenue architects</span>
                        </div>
                     </div>
				          </div>			
          			</div>
		          </div> 



