		<div class="container headerPopup">
			<div class="row-fluid">
				<div class="span9 leftBox mainLeft">                  
          <div class="question">
            <h1> Company Details </h1>
          </div>

          <div class="text" >
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
          Aenean eu erat et velit dapibus bibendum id quis quam.<br>
          Sed quis suscipit tortor.
          </p>
          </div>
          
         
           <div class="companyLeft">
              <%= form_for(@company, :validate => true) do |f| %>
                 <%= @company_error_messages %>
                     <div class="points" >
                        <div class="option">
                        <h3>Your Company Name<span class="star">*</span></h3>
                        
                        <%= f.text_field :name, :maxlength=>"40", :validate =>{:presence => true}, :class=> "input-xlarge", :placeholder=>"Company Name" %>
                      </div>

                      </div>
                          
                     <div class="points">
                        <div class="option" >
                           <h3>Website<span class="star">*</span></h3>
                           <%= f.text_field :website, :maxlength=>"40", :validate =>
                                           { :presence => true, :uniqueness => true} ,:class=> "input-xlarge", :placeholder=>"http://example.com or www.example.com" %><br/>
                                           
                        </div>
                     </div>
                     <div class="points">
                        <div class="option ">
                          <h3>Industry</h3>                                
                          <%= f.select "industry_id", options_for_select(@industry.collect{|x| [x.name,x.id]}) %>  
                        </div>
                     </div>
                     <div class="points">
                     <%= f.submit "Continue to Survey" ,:class =>"btn btn-primary icon-remove icon-white" %>                 
                <% end %>
              </div>				
             </div>  
           </div>
				   <div class="span3 rightBox" >
               <div class="scoreBoard scoreboard1">
                  <div class="head">About Revenue Grader </div>
                     <div class="score">
                        <span>Some notes on revenue grader</span>
                     </div>
                  </div>
                  <div class="scoreBoard">
                     <div class="head">About Revenue Architects </div>
                        <div class="score">
                            <span>Some notes on revenue architects</span>
                        </div>
                     </div>
				          </div>			
          			</div>
		          </div> 



