<% content_for :main_content do -%> 
    <div class="span5 content">
       <h1 class="question">Company Details</h1>
      <p class="question">Please provide basic information about your company</p>
          
      <%= simple_form_for(@company, :validate => true, :class => "well") do |f| %>

        <%= f.input :name, 
                    :label => "Your Company Name",  
                    :input_html => { :class => 'input-xlarge' }, 
                    :label_html => { :class => '' } -%> 
        <%= f.input :website,  
                    :input_html => { :class => 'input-xlarge' } -%>
        <%= f.association :industry, 
                      :prompt => "Select Industry",  
                      :input_html => { :class => 'input-xlarge' }   -%>  

         <div class="form-actions">
            <%= f.button :submit, "Continue to Diagnostic", :class => 'btn-primary' %>
          </div>
    <% end -%> 
      
    </div><!-- / end of content -->
     
    <div class="span4 side-text">
      <h1 class="question">The Exercise should take about 20 minutes and help create a top-level revenue strategy and plan</h1>
    </div>
    <% end  -%> <!-- /end of main content --> 

    <% content_for :side_content do  -%>
        <%= render "/shared/side_icons" -%> 

          <div class="scoreboard">
            <div class="head">About Revenue Grader </div>
               <div class="score">
                  <span>Revenue Grader is a diagnostic tool developed by the team at Revenue 
Architects.  Revenue Grader helps you quickly assess and plan your revenue growth strategy.</span>
               </div>
            </div>

            <div class="scoreboard">
             <div class="head">About Revenue Architects </div>
                <div class="score">
                    <span>Revenue Architects delivers integrated consulting agency services for revenue growth.
                    </span>
                </div>
             </div>
           </div>      

    <% end -%>  
