		<div class="container headerPopup">
			<div class="row-fluid">
				<div class="span9 leftBox mainLeft">                  
          <div class="question">
            <h1> Company Details </h1>
          </div>

          <div class="text" >
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean eu erat et velit dapibus bibendum <br>id quis quam.
          Sed quis suscipit tortor.
          </p>
          </div>
          
         
           <div class="companyLeft">
              <%= form_for(@company, :validate => true) do |f| %>
                 <%= @company_error_messages %>
                     <div class="points" >
                        <div class="option">
                        <h3>Your Company Name<span class="star">*</span></h3>
                        
                        <%= f.text_field :name, :maxlength=>"40", :validate =>{:presence => true}, :class=> "input-xlarge"%>
                        
                      </div>

                      </div><br/><br/><br/><br/>
                      <label class="lblCompanyname">Company Name</label>
                          
                     <div class="points">
                        <div class="option" >
                          <div>
                           <h3>Website<span class="star">*</span></h3></div>
                           <%= f.text_field :website, :maxlength=>"40", :validate =>
                                           { :presence => true, :uniqueness => true} ,:class=> "input-xlarge"%>
                                        
                        </div>
                     </div><br/><br/><br/><br/>
                     <label class="lblCompanyname"> www.example.com</label> 
                     <div class="points">
                        <div class="option ">
                          <div>
                          <h3>Industry <span class="star">*</span></h3></div>    
                          <%= f.select "industry_id", options_for_select(@industry.collect{|x| [x.name,x.id]}.insert(0, 'Select Industry')) %>  
                          <span id="industry_error"></span>
                        </div>
                     </div>
                     <div class="pointsb" >
                     <%= f.submit "Continue to Survey" ,:class =>"btn btn-primary icon-remove icon-white btncontinue", :id=>"company_submit"%>                 
                <% end %>
              </div>				
             </div>  
           </div>
				   <div class="span3 rightBox" >
            <div class="processIcons">
                        <span>
                        <%= image_tag "processing.png",:width=>"47px",:height=>"49px" %>
                        <p class="demographicstext">Demographics</p>
                        </span>

                        <span class="spacing">
                        <%= image_tag "qa_grey.png",:width=>"47px",:height=>"49px",:class=>"qa" %>
                        <p class="qatext">Q&amp;A</p>
                        </span>
                        
                        <span class="spacing">
                        <%= image_tag "download_grey.png",:width=>"47px",:height=>"49px",:class=>"reporticon"%>
                        <p class="reporttext">Report</p>
                        </span>
                    </div>
               <div class="scoreBoard scoreboard1">
                  <div class="head">About Revenue Grader </div>
                     <div class="score">
                        <span>Revenue Grader is a diagnostic tool developed by the team at Revenue Architects.  Revenue Grader helps you quickly assess and plan your revenue growth strategy.</span>
                     </div>
                  </div>
                  <div class="scoreBoard">
                     <div class="head">About Revenue Architects </div>
                        <div class="score">
                            <span>Revenue Architects is a consulting agency that helps our clients drive revenue growth.</span>
                        </div>
                     </div>
				          </div>			
          			</div>
		          </div> 



