<div class="container left" style="margin-top:20px;">
    <div class="row-fluid">
        <div class="span12">
          <ul class="nav2 nav2-tabs2" style="margin: 0 0 0px 0px;padding: 0;">
            <li><%=link_to 'Feedbacks', admin_feedbacks_url %></li>
              <li class="active"><%= link_to 'Questions'%></a></li>
              <li><%=link_to 'Sections', admin_sections_url%>
              </li>
              <li><%= link_to 'Users', admin_users_url%></li>
               <li><%= link_to 'Dashboard', admin_root_url %></li>
          </ul>
                             
          <div class="tab-content2" style="padding-top:0px;">
            <div class="tab-pane active" id="dashboard" >
              <div class="tabHead">
                <h1>Questions--Questions for the Survey</h1>
                <h3>Edit Question</h3>
              </div>
                
              <div class="content">
               
                <%= simple_form_for(@question, :url=>{:action => :update}) do |f| %>
                        <br/>
                        <%= f.input :name, :as =>:text,
                                    :label => "Question",
                                    :placeholder=>"Type new question here...",  
                                    :input_html => { :class => 'input-xlarge textarea1' }, 
                                    :label_html => { :class => '' } -%>

                        <span id="question_name_error"  class="custom_error"></span>

                        <%= f.input :description,
                            :label => "Description",
                            :placeholder => "Type description for question here...",
                            :as => :text,
                            :input_html => {:class => 'input-xxlarge' , :cols => 50, :rows => 3 }, 
                            :label_html => { :class => '' } -%> 

                        <span id="description_error"  class="custom_error"></span> 

                        <%= f.hidden_field :is_active, :value=>true%>

                        <%= f.input :sub_section_id, 
                                      :collection => @subsection,
                                      :prompt => "Select SubSection",  
                                      :label => "Sub Section",  
                                      :input_html => { :class => 'input-xlarge' },
                                      :label_html => { :class => '' }    -%>  

                        <span id="section_error" class="custom_error"></span>

                        <%= f.input :points, 
                                      :collection => [['5'],['10'],['15'],['20']], 
                                      :prompt => "Select Points",  
                                      :label => "Points",  
                                      :input_html => { :class => 'input-xlarge' },
                                      :label_html => { :class => '' }    -%>  
                        
                        <%= f.button :submit, "Save", :class => 'btn-primary',:id=>"questn_save" %>
                        <%= link_to "Cancel", admin_questions_url, :class=>"btn btn-primary" %> 
                        
                <% end -%>  
              </div>                               
      </div>
    </div>
  </div>
</div>





                                               





