<div class="container" style="margin-top:20px;">
            <div class="row-fluid">
                <div class="span12">
                            <ul class="nav2 nav2-tabs2" style="margin: 0 0 0px 0px;padding: 0;"> 
                                <li><%=link_to 'Settings', admin_settings_url%></li>
                                <li class="active"><%= link_to 'Questions'%></a></li>
                                <li><%=link_to 'Sections', admin_sections_url%>
                                </li>
                                <li><%= link_to 'Reports', admin_reports_url%></li>
                                <li><%= link_to 'Users', admin_users_url%></li>
                                 <li><%= link_to 'Dashboard', admin_root_url %></li>
                            </ul>
                             
                            <div class="tab-content"style="padding-top:0px">
                            <div class="tab-pane active" id="dashboard" style="height:730px;">
                                <div class="tabHead">
                                        <h1>Questions</h1>
                                        <h2>Questions for the Survey</h2>
                                </div>
                                
                                <div class="tabGraph">
                                 <div class="row-fluid">
                                    <div class="span8" style="width:60.8%">
                                    <div class="accordHolder">
                                        <div id="accordion1" class="pageAccordion">
                                            <h3><a href="#">Strategy</a></h3>
                                            <div class="fixBox">
                                                <p>
                                                    <div class="ques"><span class="eachQues"><sub>1</sub>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy1" class="switch on"></div>                                                    
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>2</sub>ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy2" class="switch off"></div>                                                    
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>3</sub>amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy3" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>4</sub>odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy4" class="switch on"></div>                                                   
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>5</sub>odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy5" class="switch on"></div>                                                   
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>6</sub>odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Strategy6" class="switch on"></div>                                                    
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                </p>
                                            </div>
                                            <h3><a href="#">Systems</a></h3>
                                            <div class="fixBox">
                                                <p>
                                                    <div class="ques"><span class="eachQues"><sub>1</sub>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Systems1" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>2</sub>ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Systems2" class="switch off"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>3</sub>amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Systems3" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>4</sub>odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Systems4" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                </p>
                                            </div>
                                            <h3><a href="#">Programs</a></h3>
                                            <div class="fixBox">
                                                <p>
                                                    <div class="ques"><span class="eachQues"><sub>1</sub>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Programs1" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>2</sub>ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Programs2" class="switch off"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>3</sub>amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Programs3" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                    <div class="ques"><span><sub>4</sub>odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span>
                                                    <div class="button-bar" style="float:left; padding-top:0;">
                                                    <div id="Programs4" class="switch on"></div>
                                                       <a href="#" class="btn" style="margin-left:30px;"><i class="icon-trash"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>    
                                    </div>
                                    <div class="span4" style="height:470px;width: 36.91%;">
                                        <div class="quesMain">
                                            <div class="addQuesHead">
                                                <h1>Add a New Question</h1>
                                            </div>
                                            <div class="addForm">
                                                <%= form_for @question, :url=>{:action => :create} do |f| %>
                                            <h3>Question<span>*</span></h3>
                                           <%= f.text_area :name, :class=>"input-xlarge", 
                                           :placeholder=>"Type new question here...", :style=>"margin-bottom:9px;", :rows=>3, :cols=>8%>
                                            <!--<h3>Description<span>*</span></h3>-->
                                           <%#= f.text_area :description, :class=>"input-xlarge", 
                                           :placeholder=>"Type description for question here...", :style=>"margin-bottom:9px;", :rows=>3, :cols=>8%>
                                             <%= f.hidden_field :is_active, :value=>true%>
                                            <h3>Section<span>*</span></h3>
                                            <%= select_tag(:sub_section_id, options_for_select(@subsection.collect{|x| [x.name,x.id]}))%>
                                            
                                            <h3>Points<span>*</span></h3>
                                            <%= f.select :points, [5,10,20]%>
                                            <br>
                                            <br>
                                            <div class="button-bar" style="float:left;">
                                            </div>
                                            <%= f.submit 'Save', :class=>"btn btn-primary"%>
                                            <%= f.submit 'Save & New', :class=>"btn btn-primary",:style=>"margin-left:30px;"%>
                                            <%= f.submit 'Reset', :class=>"btn",:style=>"margin-left:30px;"%>
                                               
                                            </div>
                                            <%end%>
                                            </div>
                                        </div>,
                                    </div>
                                </div>
                            </div>                                    
                                        
                                        
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="users" style="height:500px;">Users</div>
                            <div class="tab-pane" id="reports" style="height:500px;">Reports</div>
                            <div class="tab-pane" id="sections" style="height:500px;">Sections</div>
                            <div class="tab-pane" id="questions" style="height:500px;">Questions</div>
                            <div class="tab-pane" id="settings" style="height:500px;">Settings</div>
                            </div>
                </div>
            </div>
        </div> 