<div class="container left">
            <div class="row-fluid">
                <div class="span12">
                            <ul class="nav2 nav2-tabs2">
                                <li><%=link_to 'Feedbacks', admin_feedbacks_url %></li>
                                <li class="active"><%= link_to 'Questions'%></a></li>
                                <li><%=link_to 'Sections', admin_sections_url%>
                                </li>
                                <li><%= link_to 'Users', admin_users_url%></li>
                                 <li><%= link_to 'Dashboard', admin_root_url %></li>
                            </ul>
                             
                            <div class="tab-content2 dash">
                            <div class="tab-pane active" id="dashboard" >
                                <div class="tabHead">
                                        <h1>Questions--Questions for the Survey</h1>
                                </div>
                                
                                <div class="tabGraph">
                                     <div id="box">
                                  <table cellpadding="1" cellspacing="1" id="user_table" class="report-body dataTable2"> 
                                  <thead>
                                    <tr>
                                      <th><h3>#</h3></th>
                                      <th><h3>Name</h3></th>
                                      <th><h3>Description</h3></th>
                                      <th><h3>Section :: SubSection</h3></th>
                                      <th><h3>Points</h3></th>
                                      <th><h3>Actions</h3></th>
                                      
                                                                          
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @questions.each do |question| %>
                                        <tr>
                                            <td><%= question.id %></td>
                                            <td><%= question.name %></td>
                                            <td><%= question.description %></td>
                                           
                                            <td><%= question.section_name %> :: <%= question.subsection_name%></td>
                                            <td><%= question.points %></td>
                                            
                                            <td><%= link_to 'Edit', admin_edit_questions_url(question.id)%> /
                                            <%= link_to 'Delete', admin_delete_questions_url(question.id), :confirm => 'Are you sure?'%></td>
                                            
                                        </tr>
                                            <% end %>

                                          </tbody>        
                                </table> 
                                <br />
                                <p class="btn-admin"><%= link_to 'Add Question', admin_new_questions_url, :class=>"btn btn-primary" %></p>    
                                </div>
                                </div>
                            </div>                                    
                                        
                                        
                                    
                                </div>
                            </div>
                           
                </div>
            </div>
        </div> 