<%#= @add_to_plan_responses.inspect%>
<% if @responses.present?%>
 <table cellpadding="1" cellspacing="1" id="resultTable" class="report-body dataTable2">
  <thead class="table-header">
    <tr>
      <th title ="Subdimension of practices">DIMENSION</th>
      <th title ="Practices">PRACTICE</th>
      <th title ="Priority for practices">PRIORITY</th>
      <th title ="Your importance for practices">IMPORTANCE</th>
      <th title ="Points for practices">POINTS</th>
      <th title ="Your Score for Practices">YOUR SCORE</th>
      <th title ="Average score for practices">AVERAGE SCORE</th>
    </tr>
  </thead>
  <tbody>

  <% @responses.each do |response| %>
    <tr>
      <td><%= response.sub_sect_name%></td>
      <td><%= response.name %></td>
      <td><%= response.answer_3.try(:titleize) %></td>
      <td><%= response.answer_4.blank? ? 0 : response.answer_4 %></td>

      <td><%= response.points %></td>
      <td><%= response.score.blank? ? 0 : response.score %></td>
      <td>
        <% average_score = get_average_score(response.questions_id, @survey.id) %>
        <%= average_score.present? ?
        average_score : 0 %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
 <%else%>
 <p>No Response avaiable for this search</p>
 <%end%>
