                
	        <tr>
               
                <td width="600" text-align="left"><%= response.name %></td>
                <td><%= response.points %></td> 
                <td><%= response.score %></td>
                <td><%= response.response_id.present? ?
                                                  get_average_score(response.questions_id, response.survey_id) : 0 %></td>
                <td><%= response.response_id.present? ?
                  get_calculated_score(response.response_id, response.questions_id) : 0 %></td>
                <td><%= response.response_id.present? ? get_avg_calculated_score(response.survey_id, response.questions_id, response.section_id) : 0 %>
                 </td> 
                
                </tr>


                                       