<div class="points1 qseth2 slider-rate">
    <div class="option">
    <h2>Rate Your Current Maturity Level</h2>
    <div style="clear:both"></div>
    <div class="slabels"><span>Weak</span> <span class="basic">Basic</span> <span class="developing">Developing</span> <span class="diffworld">Differentiated</span> <span class="diffworld">World Class</span></div>
   <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" ><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"  data-original-title="" title=""></a>
    <br>
    <%= f.hidden_field :answer_1%>
    </div>
    </div>
</div>
<div class="points1 qseth2">
    <div class="option" id="option">
    <h2>Add to Plan?</h2>                 
    
    <a rel="tooltip" id ="add_to_plan" class="btn priorityTip plan_option" style="margin-left:18px;" data-original-title="Add this item to our plan for prioritization"><span><i class="icon-plus icon-white" id ="add_to_plan"></i></span> <strong id ="add_to_plan">Add to Plan</strong></a>
    
    <a rel="tooltip" id ="in_our_plan" class="btn priorityTip plan_option"  data-original-title="This item is already established in our plan"><span><i class="icon-ok icon-white" id ="in_our_plan"></i></span> <strong id ="in_our_plan">In Our Plan</strong></a>
    
    <a rel="tooltip" id ="not_applicable" class="btn form priorityTip plan_option"  data-original-title="This item does not apply as a priority for our business"><span><i class="icon-remove icon-white" id ="not_applicable"></i></span> <strong id ="not_applicable">Not Applicable</strong></a>
    <%= f.hidden_field :answer_2%>                   
    </div>
</div>
<div class="points1 priority">
    <div class="option" id="priority_option">
    <h2>Priority</h2>
    <a rel="tooltip" class="btn priorityTip priority_option" id ="must_do" style="margin-left:18px;"data-original-title="This is among our highest priorities"><span><i class="icon-ok icon-white" id ="must_do"></i></span> <strong id ="must_do">Must Do</strong></a>
    <a rel="tooltip" class="btn form priorityTip priority_option" id ="should_do" data-original-title="This is an important element of our plan"><span><i class="icon-plus icon-white" id ="should_do"></i></span> <strong id ="should_do">Should Do</strong></a>
    <a rel="tooltip" class="btn form priorityTip priority_option" id="could_do" data-original-title="We will do this opportunistically"><span><i class="icon-check icon-white" id="could_do"></i></span> <strong id="could_do">Could Do</strong></a>
    <%= f.hidden_field :answer_3%>
    </div>
</div>
<p class="prevconf">                    
    
    <%= link_to("", :class=>"btn btn-success confprev", :id=>"confirm_answer") do %>
        <i class="icon-ok icon-white answer">
        </i>Confirm Answer
   <% end %>
   <% if(@question.position > 1)%>
    <%= link_to(questions_path(params[:id],@question.position - 1 ), :class=>"btn confprev") do %>
       <i class="icon-chevron-left">
        </i> &nbsp;Previous Question
   <% end %>
   <%else%>
    <a rel="tooltip" class="btn large disabled confprev"><i class="icon-chevron-left"></i>&nbsp;Previous Question</a>
    <%end%>
    <!--<a href="#" class="btn btn-small btn-info" style="float:right; margin-right:20px;"><i class="icon-chevron-left"></i> Save Work</a>-->
  </p> 


