
                  <li class="next" >

                    <%= link_to(continue_survey_url) do%>
                    <i class="icon-home icon-home-style"></i>&nbsp;
                          <%end%>
                  </li>
                  <li class="surveyname">&nbsp;Diagnostic
                       <%= @survey.created_at.strftime("%B  %Y")%>
                  </li>

                  <%@all_sections.each_with_index do |section,i| %>
                    <li class="next dropdown" id="section_<%=section.id%>">
                      <%#= link_to() do %>
                        <a id="drop" role="button" data-toggle="dropdown">
                          <%= image_tag "icon_cat.png" %>
                          <%= section.name.titleize %>
                        </a>
                        <ul id="menu1" class="dropdown-menu" role="menu"
                           aria-labelledby="drop" >
                          <% sorted_subsections = subsection_sorting(SubSection.find_section_subsections(section.id), @survey.id ) %>

                          <% sorted_subsections.each_with_index do |sub_section,j| %>
                              <% subsection_done = check_subsection_all_ans(sub_section, @survey.id) %>
                              <%= link_to questions_path(params[:id], sub_section.questions.first.position), class: 'sub-section-name', role: 'menuitem' do %>
                                <span class="subsection-span"><%= sub_section.name %></span>
                                <% if subsection_done == true %>
                                  <span role="menuitem" tabindex="-1" href="#">
                                    <img class="sub-section-done" src="/assets/icon_results.png" alt="done" width="22" height="22"/>
                                  </span>
                                <% end %>
                              <% end %>
                          <% end %>
                        </ul>
                        <span id ="span_<%=section.id%>" class="red" title ="Total number of questions", rel="tooltip">
                          <%= @section_questions[i].question_attempted%>/
                          <%= @section_questions_total[i].question_total %>
                        </span>
                       <%# end %>
                    </li>
                  <%end%>
                   <li class="next" id ="final_result">

                          <% if (@section_questions[0].question_attempted +  @section_questions[1].question_attempted + @section_questions[2].question_attempted) == (@section_questions_total[0].question_total + @section_questions_total[1].question_total + @section_questions_total[2].question_total)%>
                            <%= link_to(reports_url) do %>
                            <%= image_tag "icon_results.png", :width=>"16px", :height=>"16px", :class=>"finalitem" %>&nbsp;
                              Report
                            <%end%>
                          <%else%>
                            <a title="Please complete all the practices to view the Report.", rel="tooltip">
                              <%= image_tag "icon_results.png", :width=>"16px", :height=>"16px", :class=>"finalitem" %>&nbsp;
                                Report
                            </a>
                          <%end%>
                   </li>
