<% content_for :top_bar_content do  -%> 
        <%= render "sections_nav"%>
<% end -%> 

<% content_for :main_content do -%> 
      <div class="row-fluid">
        <div class="span12">
                  <ul class="nav3-tabs3 usercompare"> 
                                <li class="active"><a href="#overall" data-toggle="tab">Overall</a></li>
                                <li><%= link_to(compare_strategy_url(params[:id])) do %>
                                    Strategy
                                     <% end %> 
                                 </li>
                                 <li><%= link_to(compare_system_url(params[:id])) do %>
                                    System
                                     <% end %> 
                                 </li>
                                 <li><%= link_to(compare_programs_url(params[:id])) do %>
                                    Programs
                                     <% end %> 
                                 </li>
                                
                            </ul>
                             
                            <div class="tab-content3 dash">
                            <div class="tab-pane active" id="overall" style="height:730px;">
                <div class="tabHead">
                                  <h1>Overall Report</h1>
                                   
                                </div>
                                
                                <div class="tabGraph">
                                    <div class="box">                                        
                                        <h1>Responses in the current month <strong>March 2012</strong></h1>
                                        <img src="<%= @line_graph%>"/>
                                    </div>
                                </div>
                            </div>
        </div>
      </div>
    </div> 
<% end %>   