<% content_for :top_bar_content do  -%> 
        <%= render "sections_nav"%>
<% end -%> 

<% content_for :main_content do -%> 
<div class="row-fluid">
<div class="span12">
  <ul class="nav3-tabs3 usercompare"> 
                <li><%= link_to(compare_url(params[:id])) do %>
                    Overall
                     <% end %> 
                 </li>
                <li><%= link_to(compare_strategy_url(params[:id])) do %>
                    Strategy
                     <% end %> 
                 </li>
                 <li><%= link_to(compare_system_url(params[:id])) do %>
                    System
                     <% end %> 
                 </li>
                 <li class="active" href="#overall" data-toggle="tab"><%= link_to(compare_programs_url(params[:id])) do %>
                    Programs
                     <% end %> 
                 </li>
              </ul>
             
            <div class="tab-content3 dash" style="height:auto;">
            <div class="tab-pane active userTable" id="programs" >
<div class="tabHead">
                  <h1>Programs</h1>
                   
                </div>
                
                <div class="tabGraph">
                    <div class="box">                                        
                      <h1>Responses in the current month <strong>March 2012</strong></h1>
                      <div class="graph">
                      <div id='chart'></div>
                      <%= render_chart(@chart, 'chart') %>
             

                      </div>
                    </div>

                     <div class="container report-top">
                        <div class="row-fluid">
                          <%= render :partial=>"report_response_table"%>
                        </div>
                      </div>

                </div>
            </div>        
  </div>
</div>
 
    <script>
            $(function () {
            $('.tabs').click(function(){
                    alert($(this).attr('id'));
                });
            })
    </script>
    <%end%>