<% content_for :top_bar_content do  -%> 
        <%= render "sections_nav"%>
<% end -%> 


<% content_for :main_content do -%> 

      <div class="row-fluid">
        <div class="span12">
                  <ul class="nav3-tabs3 usercompare"> 
                                <li><%= link_to(compare_url(params[:id])) do %>
                                    Overall
                                     <% end %> 
                                 </li>
                                <li><%= link_to(compare_strategy_url(params[:id])) do %>
                                    Strategy
                                     <% end %> 
                                 </li>
                                 <li class="active" href="#strategy" data-toggle="tab"><%= link_to(compare_system_url(params[:id])) do %>
                                    Systems
                                     <% end %> 
                                 </li>
                                 <li><%= link_to(compare_programs_url(params[:id])) do %>
                                    Programs
                                     <% end %> 
                                 </li>
                            </ul>
                             


                            <div class="tab-content3 dash"  style="height:auto;">
                            <div class="tab-pane active userTable" id="strategy" >
                                <div class="tabHead">
                                   <h1>Systems</h1>
                                   
                                </div>
                                
                           
                               <div class="tabGraph">
                                    <div class="box_compare">                                        
                                       <h1>Response of the month :: <strong><%= @survey.created_at.strftime("%B  %Y")%></strong></h1>
                                        <div class="graph">
                               <div id='chart'></div>
                                        <%= render_chart(@chart, 'chart') %>
             
             
                                         </div>
                                    </div>
                                <!--table information goes here-->
                                
                                 <!--table goes here-->
                                     <div class="container report-top">
                                        <div class="row-fluid">
                                       
                                         <%= render :partial=>"compare_response_table"%>
                                           
                                        </div>
                                      </div>
                            <!--end table-->    

                            </div>
                            
        </div>
        </br>
        <!--second tab-->
      </div>

    <script>
            $(function () {
            $('.tabs').click(function(){
                    alert($(this).attr('id'));
                });
            })
    </script>
    <%end%>