    
<% content_for :top_bar_content do  -%> 
    <%= render "sections"%>
<% end -%> 

<%content_for :main_content do%> 
          <div class="content">
                                             
                  <h1 class="question">Thank you for successfully completing the Diagnostic  </h1>          
                  <p class="question">Number of questions attempted in each section</p>
                      <table class="table table-bordered" >
                         <%@all_sections.each_with_index do |section,i| %>
                            <tr>
                              <td><%= section.name.try(:titleize)%></td><td><span class="tblendstyle">
                                 <%= @section_questions[i].question_attempted%>/
                                 <%= @section_questions_total[i].question_total %>
                                 </span>
                              </td>
                            </tr>
                          <%end%>
                          <tr>
                            <td>Total</td>
                            <td><span class="tblendstyle">
                              <%=  @final_score %>/
                              <%= @total_question_total %></span>
                            </td>
                          </tr> 
                       </table>     
            <div class="footerconfirm" >
           <%= link_to 'Go back', continue_survey_path ,:class=>"btn questionsattemted"%>
           <%= link_to 'Complete Diagnostic', close_survey_path(@survey) ,:class=>"btn btn-primary questionsattemted"%></div>
          </div>
  <% end -%> 


  <% content_for :side_content do -%>
    <%= render "confirm_side_details" -%> 
<% end  -%>  
      

          
         
