             
        <%content_for :main_content do%>
        <%= render "sections"%>
        <div class="container" style="margin-top:20px;">
            <div class="row-fluid">
                <div class="span9 leftBox" style="height:auto;background-color:#ffffff">
                    <div class="question">
                        <h1>                            
                            <%= @question.name%>
                        </h1>
                        <h2>
                            Q<%= @question.id %> 
                            <%#= @question.point for setting the point for each question %>                           
                        </h2>
                    </div>
                    <%= form_for(:response, :url=>reponses_update_url) do |f|%>  
                    <%= f.hidden_field :survey_id, :value=>@survey.id%>
                    <%= f.hidden_field :question_id, :value=>@question.id%>
                    <%= render "questions_set", :f => f%>
                    <%end%>
                    <%= render "question_details"%>
                </div>
            </div>
        </div> 
<%end%>

