<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revenue Grader - Survey Reports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name = 'pdfkit-footer_right', content = 'Revenue Grader' >
        <meta name="author" content="">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <script src='http://www.google.com/jsapi'></script>
        </head> 
       
        <!-- Le styles -->
<%#= content_for :main_content do%>
       <link rel="stylesheet" media="all" href="#{Rails.root}/assets/stylesheets/jquery.dataTables.css" />
        <%= render :partial=>"reports_css"%>
        <div class="content" style="page-break-after:always;">
        <div style="display:inline;">
                <span><img src="http://dev.revenue-grader.com/assets/logo.png" alt = "Revenue Grader"><span>
                <span style="font-size:60px;color: #0086AC;"> <%= "Revenue Grader" %> </span>  
        </div>
        
        <div class="content1">             
             <h3 style="text-align:center"><%= "#{current_user.companies.first.name}"%></h2></br>
             <h3 style="text-align:center"><%= @survey.created_at.strftime("%B  %Y")%></h2></br>
        </div>
        </div>

        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

        <h2> Diagnostic Details </h3>    
        <table cellpadding="1" cellspacing="1" id="report_could_doTable" class="report-body dataTable2 diagnostic-table">
          <tr>
            <td> Industry </td>
            <td> <%= "#{@industry.name}"%> </td>
          </tr>
          <tr>
            <td> Size </td>
            <td> <%= "#{@survey.size}"%> </td>
          </tr>
          <tr>
            <td> Revenue </td>
            <td> <%= "#{@survey.revenue}"%> </td>
          </tr>      
        </table>

        <h2> Diagnostic Summary </h3>    
        <table cellpadding="1" cellspacing="1" id="report_could_doTable" class="report-body dataTable2">
          <tr>
            <td> Sections </td>
            <td> <%= "#{@industry.name}"%> </td>
          </tr>
          <tr>
            <td> Size </td>
            <td> <%= "#{@survey.size}"%> </td>
          </tr>
          <tr>
            <td> Revenue </td>
            <td> <%= "#{@survey.revenue}"%> </td>
          </tr>      
        </table>
            

            
           <!--  <div class="footer1">
              <img src="http://dev.revenue-grader.com/assets/logo.png">
            </div> -->
        </div>

        
         <div class="content" style="page-break-after:always;">
            <div class="content2">
            <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
            <h1>Overall Diagnostic</h1>
                
               <h1>Response of the month :: <strong><%= @survey.created_at.strftime("%B  %Y")%></strong></h1>

                 <div id='chart'></div>
                  <%= render_chart(@chart, 'chart') %>
                  
            <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
          </div>
         
        
        <div class="content" style="page-break-after:always;">
            <div class="content2">
           <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
             <h1>Must Do</h1>

             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_must_doTable" class="report-body dataTable2">
               <%= render :partial=>"table_header"%>
                    <% @must_do_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>
                  </div>        
                  <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div>  -->
            </div>
            
        </div>  
       
        <div class="content" style="page-break-after:always;">
         <div class="content2">
            <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
             <h1>Should Do</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_should_doTable" class="report-body dataTable2">
                <%= render :partial=>"table_header"%>
                    <% @should_do_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>               
            </div> 
           <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div>  

       
        <div class="content" style="page-break-after:always;">
            <div class="content2">
            <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
             <h1>Could Do</h1>
             <div class="textbox">
            <table cellpadding="1" cellspacing="1" id="report_could_doTable" class="report-body dataTable2">
             <%= render :partial=>"table_header"%>
              <% @could_do_responses.each do |response|%>
                <%= render :partial=>"response_report", 
                :locals=> {:response =>response} %> 
              <%end%>
             <%= render :partial=>"table_end"%>            
            </div> 
           <!--  <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 

        <div class="content" style="page-break-after:always;">
            <div class="content2">
           <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
             <h1>Items not applicable to your company</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_not_applicableTable" class="report-body dataTable2">
               <%= render :partial=>"table_header"%>
                    <% @not_applicable_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>                      
            </div> 
            <!-- <div class="footer1">
               <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 

        <div class="content" style="page-break-after:always;">
            <div class="content2">
            <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
           </div>
             <h1>Items already planned for your company</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_in_planTable" class="report-body dataTable2">
             <%= render :partial=>"table_header"%>
                    <% @in_plan_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
              <%= render :partial=>"table_end"%>
            <!--  <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 
      </div>

        <div class="content" style="page-break-after:always;">
            <div class="content2">
            <h2> <%= "#{current_user.companies.first.name}"%>
            <%= @survey.created_at.strftime("%B  %Y")%></h2>
            </div>
             <h2>About Revenue Grader</h2>
             <p class="aboutrevenue">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean eu erat et velit dapibus bibendum id quis quam.
          Sed quis suscipit tortor.</p>
         <!--  <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div>
<%#end%>
   
    </body>
</html>


          