<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revenue Grader - Survey Reports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name = 'pdfkit-footer_right', content = 'Revenue Grader' >
        <meta name="author" content="">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <script src='http://www.google.com/jsapi'></script>
        </head> 
       
        <!-- Le styles -->
<%#= content_for :main_content do%>
       <link rel="stylesheet" media="all" href="#{Rails.root}/assets/stylesheets/jquery.dataTables.css" />
        <%= render :partial=>"reports_css"%>
        <div class="content" style="page-break-after:always;">
        <div style="display:inline;">
                <span><img src="http://dev.revenuegrader.com/assets/logo.png" alt = "Revenue Grader"><span>
                <span style="font-size:60px;color: #0086AC;"> <%= "Revenue Grader" %> </span>  
        </div>
        
        <div class="content1">             
             <h3 style="text-align:center"><%= "#{current_user.companies.first.name}"%></h2></br>
             <h3 style="text-align:center"><%= @survey.created_at.strftime("%B  %Y")%></h2></br>
        </div>
        </div>

        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

        <h2> Diagnostic Details </h3>
        <p>&nbsp;</p><table border="1" cellpadding="3" cellspacing="0" width="600" align="center" >  
        <tbody style="color:#FFFFFF; background-color:#0086AC;">
          <tr>
            <td> Industry </td>
            <td> <%= "#{@industry.name}"%> </td>
          </tr>
          <tr>
            <td> Size </td>
            <td> <%= "#{@survey.size}"%> </td>
          </tr>
          <tr>
            <td> Revenue </td>
            <td> <%= "#{@survey.revenue}"%> </td>
          </tr> 
          </tbody>     
        </table>

        <h2> Diagnostic Summary </h3>    
        <p>&nbsp;</p><table border="1" cellpadding="3" cellspacing="0" width="600" align="center" > 
          <tbody style="color:#FFFFFF; background-color:#0086AC;">
           <%@all_sections.each_with_index do |section,i| %>
              <tr>
                <td><%= section.name.try(:titleize)%></td><td><span class="tblendstyle">
                   <%= @section_questions[i].question_attempted%>/
                   <%= @section_questions_total[i].question_total %>
                   </span>
                </td>
              </tr>
            <%end%>
            <tr>
              <td>Total</td>
              <td><span class="tblendstyle">
                <%=  @final_score %>/
                <%= @total_question_total %></span>
              </td>
            </tr> 
          </tbody>
         </table> 

            
           <!--  <div class="footer1">
              <img src="http://dev.revenue-grader.com/assets/logo.png">
            </div> -->
        </div>

        
         <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>
            <h1>Overall Diagnostic</h1>
                
               <h1>Response of the month :: <strong><%= @survey.created_at.strftime("%B  %Y")%></strong></h1>

                 <div id='chart'></div>
                  <%= render_chart(@chart, 'chart') %>
                  
            <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
          </div>
         
        
        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h1>Must Do</h1>

             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_must_doTable" class="report-body dataTable2">
               <%= render :partial=>"table_header"%>
                    <% @must_do_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>
                  </div>        
                  <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div>  -->
            </div>
            
        </div>  
       
        <div class="content" style="page-break-after:always;">
         <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h1>Should Do</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_should_doTable" class="report-body dataTable2">
                <%= render :partial=>"table_header"%>
                    <% @should_do_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>               
            </div> 
           <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div>  

       
        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h1>Could Do</h1>
             <div class="textbox">
            <table cellpadding="1" cellspacing="1" id="report_could_doTable" class="report-body dataTable2">
             <%= render :partial=>"table_header"%>
              <% @could_do_responses.each do |response|%>
                <%= render :partial=>"response_report", 
                :locals=> {:response =>response} %> 
              <%end%>
             <%= render :partial=>"table_end"%>            
            </div> 
           <!--  <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 

        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h1>Items not applicable to your company</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_not_applicableTable" class="report-body dataTable2">
               <%= render :partial=>"table_header"%>
                    <% @not_applicable_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
                <%= render :partial=>"table_end"%>                      
            </div> 
            <!-- <div class="footer1">
               <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 

        <div class="content" style="page-break-after:always;">
            <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h1>Items already planned for your company</h1>
             <div class="textbox">
               <table cellpadding="1" cellspacing="1" id="report_in_planTable" class="report-body dataTable2">
             <%= render :partial=>"table_header"%>
                    <% @in_plan_responses.each do |response|%>
                      <%= render :partial=>"response_report", 
                      :locals=> {:response =>response} %> 
                    <%end%>
              <%= render :partial=>"table_end"%>
            <!--  <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div> -->
        </div> 
      </div>

        <div class="content" style="page-break-after:always;">
          <div class="header">
              <div style="font-size: 14px">
                <span style="text-align:left"> <%= "#{current_user.companies.first.name}"%></span>
              </div>  
            </div>

             <h2>About Revenue Grader</h2>
            Revenue Grader is a <a>Revenue Architects</a> application. It is a diagnostic tool to help businesses leaders rapidly assess revenue performance potential and develop a prioritized top-level plan – all in minutes. Revenue Grader complements other grader apps by taking a broad and strategic view of the critical elements of revenue performance. </br>

            It is focused across three critical dimensions: </br>
            
          1)Revenue Strategy</br>
          2)Revenue Systems</br>
          3)Revenue Programs</br>
            
            After completing the Revenue Grader diagnostic, the executive can quickly identify priorities. Priorities can range widely - from developing market segmentation and crafting better value propositions to deploying marketing automation and enhancing sales team skills.</br>
          <h2>How does it work? </h2> 
          After a user registers, they are provided access to a very easy to use diagnostic tool. They can rate their maturity on key factors using a scale of 1-5. For each maturity factor, choose to <b>“add to plan”</b> and indicate priority.  In about 20 minutes, they will have a prioritized top-level plan indicating the items that are <b>“must do”</b>,<b> “should do” </b>and<b> “could do”</b>.  By updating the plan each quarter, the manager can see clear progression in plan execution.</br>

          <h2>Key features:</h2></br>
         
            1)50 Revenue Performance Factors across Revenue Strategy, Revenue Systems and Revenue Programs </br>
            2)1-5 capability maturity scoring system</br>
            3)Ability to quickly “add to plan” and indicate priority using “must”, “should”, “could”</br>
            4)Compare scores with peer groups</br>
            5)Print or view the report and sort by maturity and priority</br>
         
     
          We hope you find the Revenue Grader to be valuable tool for your business and a start to an effective revenue growth plan.</br>
              <h2>About Revenue Architects</h2>

              <h4>Integrated consulting and agency services for revenue growth</h4>

              Revenue Architects delivers adaptive services for revenue growth. We combine marketing, sales, PR and communications skills in a flexible model to address the diverse and changing requirements of marketing and sales leaders. By combining our core team of trusted advisors and our independent network, we flexibly deliver comprehensive services for revenue growth:
          

          <b>Revenue Strategy:</b> Envisioning opportunities, assessing capabilities and prioritizing initiatives</br>
            <b>Revenue Systems:</b> Deploying technology, mapping processes, and building skills</br>
            <b>Revenue Programs:</b> Creating and delivering innovative campaigns and programs.</br>
          

           Growing the top-line is more challenging than ever. The web, social media and mobile technologies have transformed the buyer-seller relationship. Buyers are more in control.  Businesses must integrate marketing and sales and effectively engage the web to capture, deepen and expand relationships. Yet, executing successfully requires both a solid strategy and diverse talent  – from creative design and branding to content creation and technology.  And needs continuously evolve.

           Visit our <a href="#">services section</a> to learn more about our areas of service and to share your requirements. Or visit the <a href="#">Revenue Grader</a> to get started on your own plan!</br>

          <!-- <div class="footer1">
              <img src="http://dev.revenuegrader.com/assets/logo.png">
            </div>  -->
        </div>
<%#end%>
   
    </body>
</html>


          