<div class="container report-top">
          <div class="spa@section_total.inspectn9 report-top1" >
                   <ul class="nav nav-pills">
                    <li class="surveyname">&nbsp;Diagnostic <%= @survey.created_at.strftime("%B  %Y")%></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Strategy <span class="green"><%= @sections[0].total_points %></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Systems <span class="green"><%= @sections[1].total_points%></span></a></li>
                    <li class="next"><a href="#"><%= image_tag "icon_cat.png" %>&nbsp;Programs <span class="green"><%= @sections[2].total_points%></span> </a></li>
                    <li class="on" id ="final_result">
                      <%= link_to(reports_url(params[:id])) do %>
                      <%= image_tag "shoulddo.png", :width=>"16px", :height=>"16px", :class=>"finalitem" %>&nbsp;&nbsp;
                      Report
                      <span class="green"><%= @sections[0].total_points + @sections[1].total_points + @sections[2].total_points%></span>  <i class="icon-chevron-right icon-white"></i>
                     <%end%>
                    </li>

                     <li class="next2">
                     <%= link_to(compare_url(params[:id])) do %>
                            <i class="icon-file iconNext">
                            </i>&nbsp;Compare
                       <% end %>
                     </li>

                    <!-- <li class="next2">
                     <%#= link_to(download_url(request.parameters.merge({:format => :pdf})), :rel=>"tooltip") do %>
                           <i class="icon-share" style="color:#000000;text-shadow : none ;font-size:15px"></i>
                            Download
                       <%# end %>
                     </li>  -->
                  </ul>
            </div>
</div>
<div class="container report-top" >
  <div class="row-fluid">
    <table cellpadding="1" cellspacing="1" id="resultTable" class="report-body dataTable2">
          <thead>
            <tr>
              <th><h3>Practices</h3></th>
              <th><h3>Group</h3></th>
              <th><h3>Score</h3></th>
              <th><h3>In Plan</h3></th>
              <th><h3>Priority</h3></th>
              <th><h3>Points</h3></th>
            </tr>
          </thead>
          <tbody>
            <% @responses.each do |response| %>
                <tr>
                    <td><%= response.name %></td>
                    <td><%= response.section_name%><%= response.sub_sect_name%></td>
                    <td><%= response.answer_1 %></td>
                    <td><%= "Y" %></td>
                    <td><%= "Must" %></td>
                    <td><%= response.points %></td>
                </tr>
            <% end %>

          </tbody>
    </table>

  </div>
</div>

        <div class="container report-top">
      <div class="row-fluid gradecolor">
        <div class="span7 report-footer" >
                  <div class="report1">
                        <h3 >Thank you for taking the survey.</h3><br>
                        <h2 >Your Final Score is <span><%= @final_score%> points</span></h2><br>
            <a href="#" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"></i> Tips and tricks to improve score</a>
                    </div>
        </div>
                <div class="reportcontainer">
                <div class="span3 center-footer" style="margin-left:10px;">
                  <div >
                        <div class="center-footer1">
                            <h2 class="revenue">Revenue<br>
                            <span>Grade</span><br>
              <div id="fixed">

                            </div>
                            </h2>
                        </div>
                        <div class="grade">
                        <span>Grade CODE</span>
                        </div>
                    </div>
        </div>
                <div class="span2 center-footer2" ><br>
                    <br>
                    <a href="#" >
                    <%= link_to image_tag("download_icon.png"),download_url(request.parameters.merge({:format => :pdf})), :class => "downloadIcon" %>
                    Download
                    <br>
                    Result</a><br>

                    <br>
          <button class="btn btn-small">Compare with<br>Benchmark</button>
        </div>
      </div>
    </div>
        <div>



