<div class="container" style="margin-top:20px;">
      <div class="row-fluid">
        <div class="span12">
                  <ul class="nav2 nav2-tabs2" style="margin: 0 0 0px 0px;padding: 0;"> 
                                <li><%=link_to 'Settings', admin_settings_url%></li>
                                <li><%= link_to 'Questions', admin_questions_url%></a></li>
                                <li><%=link_to 'Sections', admin_sections_url%></li>
                                <li><%= link_to 'Reports', admin_reports_url%></li>
                                <li class="active"><%= link_to 'Users', admin_users_url %></li>
                                <!--<li><a href="" data-toggle="tab">Users</a></li> -->
                                <li><%= link_to 'Dashboard', admin_root_url %></li>
                            </ul>
                             
                            <div class="tab-content"style="padding-top:0px">
                            <div class="tab-pane active" id="dashboard" style="height:730px;">
                            <div class="tabHead">
                                  <h1>User</h1>
                                    <h2>Overview about the user activity</h2>
                                </div>
                                <div class="tabMid">
                                  <div class="activeUsers">
                                        <h3>20</h3>
                                        <h4>Active Users</h4>
                                    </div>
                                    <div class="average">
                                        <h5>Comp</h5>
                                        <h4><%= select_tag(:company, options_for_select(@company.collect{|x| [x.name,x.id]}))%></h4>
                                    </div>
                                    <div class="average">
                                        <h5>Industry</h5>
                                        <h4><%= select_tag(:industry, options_for_select(@industry.collect{|x| [x.name,x.id]}))%></h4>
                                    </div>
                                    <div class="button-bar">
                                    <div class="btn-group"  style="margin-top: 45px; width: 150px;">
                                          <a href="#" class="btn"><i class="icon-calendar"></i> This Month</a>
                                          <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icon-calendar"></i> Last Month</a></li>
                                            <li><a href="#"><i class="icon-calendar"></i> Last Year</a></li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabGraph">
                                    <div class="box" id="box">
                                             <%= render :partial =>'list_users'%>
                                      
                                    </div>
                               
                            </div>
                            <div class="tab-pane" id="users" style="height:500px;"></div>
                            <div class="tab-pane" id="reports" style="height:500px;">Reports</div>
                            <div class="tab-pane" id="sections" style="height:500px;">Sections</div>
                            <div class="tab-pane" id="questions" style="height:500px;">Questions</div>
                            <div class="tab-pane" id="settings" style="height:500px;">Settings</div>
                            </div>
        </div>
      </div>
    </div> 