<div class="container" style="margin-top:20px;">
      <div class="row-fluid">
        <div class="span12">
                  <ul class="nav2 nav2-tabs2" style="margin: 0 0 0px 0px;padding: 0;">
                                <li><%=link_to 'Feedbacks', admin_feedbacks_url %></li>
                                <li><%= link_to 'Questions', admin_questions_url%></a></li>
                                <li class="active"><%=link_to 'Sections', admin_sections_url%>
                                </li>
                                <li><%= link_to 'Users', admin_users_url%></li>
                                 <li><%= link_to 'Dashboard', admin_root_url %></li>
                            </ul>
                             
                            <div class="tab-content2"style="padding-top:0px">
                            <div class="tab-pane active" id="dashboard">
                <div class="tabHead">
                                  <h1>Section</h1>
                                    
                                </div>
                                
                                <div class="tabGraph">
                                     <div id="box">
                                     <div class="quesMain">
                                            <div class="addQuesHead">
                                                <h1>Add New Section</h1>
                                            </div>
                                            <div class="rightboxName">
                                                   <%= form_for :section, :url=>{:action =>:update, :id=>@section.id}, :validate=>true do |f|%>
                                            <h3>Name<span>*</span></h3>
                                            <%= f.text_field :name%>
                                            <%= f.submit 'Edit Section', :class=>"btn"%>
                                                           
                                            </div>
                                            <%end%>
                                             <p class="btn-admin">  <%= link_to "back", admin_sections_url, :class=>"btn" %></p> 
                                            </div>  

                                </div>
                                </div>
                            </div>
 <!--                            <div class="tab-pane" id="users">Users</div>
                            <div class="tab-pane" id="reports">Reports</div>
                            <div class="tab-pane" id="sections">Sections</div>
                            <div class="tab-pane" id="questions">Questions</div>
                            <div class="tab-pane" id="settings">Settings</div> -->
                            </div>
        </div>
      </div>
    </div> 