<div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span12">
					        <ul class="nav2 nav2-tabs2" style="margin: 0 0 0px 0px;padding: 0;"> 
                                <li><%=link_to 'Settings'%></li>
                                <li><%= link_to 'Questions', admin_questions_url%></a></li>
                                <li class="active"><%=link_to 'Sections', admin_sections_url%>
                                </li>
                                <li><%= link_to 'Reports', admin_reports_url%></li>
                                <li><%= link_to 'Users', admin_users_url%></li>
                                <!--<li><a href="" data-toggle="tab">Users</a></li> -->
                                 <li><%= link_to 'Dashboard', admin_root_url %></li>
                            </ul>
                             
                            <div class="tab-content"style="padding-top:0px">
                            <div class="tab-pane active" id="dashboard" style="height:730px;">
								<div class="tabHead">
                                	<h1>Section</h1>
                                    
                                </div>
                                
                                <div class="tabGraph">
                                                                      
                                        
                                        <h1>Add new SubSection</h1>
                                       <%= form_for @subsection, :url=> admin_create_subsection_url do |f|%>
                                       <p><%= f.label :name%></p>
                                       <p><%= f.text_field :name%></p>
                                       <p><%= f.label :description%></p>
                                       <p><%= f.text_field :description%></p>
                                       <p>
                                        <%= select_tag(:section_id, options_for_select(@sections.collect{|x| [x.name,x.id]}))%>
                                        <%#= select_tag(:section_id, options_for_select=>(@sections.collect{|x| [x.name, x.id]}))%>
                                       </p>
                                       <p><%= f.submit 'Add SubSection'%></p>
                                       <%end%>
                                </div>
                            </div>
                            <div class="tab-pane" id="users" style="height:500px;">Users</div>
                            <div class="tab-pane" id="reports" style="height:500px;">Reports</div>
                            <div class="tab-pane" id="sections" style="height:500px;">Sections</div>
                            <div class="tab-pane" id="questions" style="height:500px;">Questions</div>
                            <div class="tab-pane" id="settings" style="height:500px;">Settings</div>
                            </div>
				</div>
			</div>
		</div> 