        <div class="content">
       <h1 class="question"> Feedback</h1>
<p class="question">Please leave us feedback, it's really appreciated.</p>

<%= simple_form_for @feedback, :as => :feedback, :url => feedback_index_path, :html => { :id => "feedback_form" } do |f| -%>
  <%= f.hidden_field 'page' %>
  <% unless @error_message.blank? %>
  <p class="error">
    <%=h @error_message %>
  </p>
  <% end %>
 
    <%= f.input :subject, 
                      :collection => [ ['Problem'],['Suggestion'],['Question'],['Other'] ] , 
                      :prompt => "Subject",  
                      :label => "Subject",  
                      :input_html => { :class => 'input-xlarge' }, 
                      :label_html => { :class => '' } -%> 

   <%= f.input :email,  
                    :input_html => { :class => 'input-xlarge' } -%>
  
   <%= f.input :comment,  
                    :label => "Comment",
                    :input_html => { :class => 'input-xlarge', :rows => 10, :cols =>40 } -%>
  
   <p><%= f.submit 'Send', :class => 'btn-primary' %></p> 
<% end -%>
</div>

