<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Revenue Grader - Sign Up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">


		<!-- Le styles -->

		<%= stylesheet_link_tag "bootstrap", "style",  :media => "all" %>
       
		<style>
			body {
				padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<%= stylesheet_link_tag	 "bootstrap-responsive"   %>	
	</head>

	<body>
		<%= render "/layouts/shared/header" %>
		<%= yield%>		
		<%= render "/layouts/shared/footer" %>
		
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
      
		<%= javascript_include_tag  "application" %>        
 		 <script>
			$(function () {
			$('.tabs').click(function(){
					alert($(this).attr('id'));
				});
			})
		</script>
	</body>
</html>