<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Revenue Grader - Sign Up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">


		<!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'> 
        <link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Asul' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
		<!--end for fonts-->

		<%= stylesheet_link_tag "bootstrap","survey","report", :media => "all" %>
       
	
		<%= stylesheet_link_tag	 "bootstrap-responsive"   %>	
	</head>

	<body>
		<%= render "/layouts/shared/header" %>
		<div class="container">
		<div id="alert">
		   <% flash.each do |key, value| %>
             <%= content_tag :div, value, :class => "alert alert-#{key}" unless value.blank? %>
           <% end %>
        </div>
    </div>
		<%= yield%>		
		<%= render "/layouts/shared/footer" %>
		
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
      
		<%= javascript_include_tag  "application" %> 
		
 		 <script>
			$(function () {
			$('.tabs').click(function(){
					alert($(this).attr('id'));
				});
			})
		</script>
		<script>
			$(document).ready(function(){
			//to hide and show login and signup	
			$('#signup_user').hide();
			//alert($('#login').val());
			var login_val = $('#login').val();
			
			if(login_val == "yes"){
             $('#signup_user').show();
             $('#login_user').hide();
			}
			else{
			  $('#signup_user').hide();	
			  $('#login_user').show();
			}			
			});
		</script>		
	</body>
</html>