<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RevenueGrader.com - Assess your Revenue Potential</title>
    <%#= csrf_meta_tags %>


         <meta name="description" content="Revenue Grader is a self-diagnostic for revenue performance. Answer questions across three dimensions: Revenue Strategy, Revenue Systems and Revenue Programs and gain a comprehensive view of your revenue performance potential."/>
          <meta name="keywords" content="revenue, survey, revenue strategy, revenue systems, revenue programs, revenue grading, revenue architects, increase revenue, diagnostic tool, revenue performance, revenue growth"/> 
    
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
      <![endif]-->

      <!--[if lt IE 8]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
      <![endif]-->


    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le fav and touch icons -->
    <!--<link href="images/favicon.ico" rel="shortcut icon"> -->
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
     <script src='http://www.google.com/jsapi'></script>
     
  </head>
  <body>

    <div class="container-fluid" >
      <div class="row-fluid top-bar">
          <%= render  "/layouts/shared/header" -%> 
      </div><!-- / end of row -->
    
    <%= yield :top_bar_content %>

    <% if !flash.blank? -%> 
      <div class="row-fluid">
                 <% flash.each do |key, value| %>
                     <%= content_tag :div, :id=>'flash_msg', :class => "alert alert-#{key}" do %>
                        <%= value unless value.blank? %>                         
                          <a class="close" data-dismiss="alert">×</a>   
                    <% end %>
                <% end %>   
      </div><!-- / -->
      <% end -%> 
    
      <%= yield :main_content %>

      <div class="row-fluid footer" >
        <%= render '/layouts/shared/footer'%>
        </div> <!-- / End of footer -->
    </div> <!-- /end of content-section -->

      
  <!-- end on container - main -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <%= javascript_include_tag "application" %>
    <%= feedback_tab(:position => 'left') %>

    <!--    <script>
    // $(function() {
    // //$('#default').raty();
    // $('#fixed').raty({
    // readOnly: true,
    // start: 3
    // });
    // });

    // </script> -->
    <script type="text/javascript">
  /* <![CDATA[ */
  document.write (
    '<img src="http://engage.revenuearchitects.com/acton/bn/2488/visitor.gif?ts='+
    new Date().getTime()+
    '&ref='+escape(document.referrer) + '">'
  );
  /* ]]> */
</script>


  </body>
</html>
