<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => {:class => "reset" }) do |f| %>
  <%#= devise_error_messages! %>
      <div class='input_box'>
        <%= f.text_field :website,  :class=>"span8 righttextBox",  :placeholder=>"Website URL", :validate =>{:presence => true} %>
      </div>
      <div class='input_box'>
        <%= f.email_field :email, :class=>"span8 righttextBox" ,:placeholder=>"Email", :validate =>
                        {:presence => true, :uniqueness => true}  %>
      </div>
      <div class='input_box'>
        <label class="checkbox check1">
        <input type="checkbox" style="width: auto;" checked> <p class="checkNotice">Please send me updates and tips from Revenue Grader. <%= link_to 'Privacy Policy', privacy_policy_url%></p>
        </label>
      </div>
      <div class='input_box'>
        <%= f.submit "Sign up and Get Started!", :class=>"btn btn-primary btn-large btnStart" %>
      </div>
      <h5 class="confidential input_box">
        We will keep your personal information strictly confidential.</h5>
      <h5 class="confidential input_box">
        You can save your work and return to the diagnostic later.
      </h5>
      <%= hidden_field_tag('login', "no")%>
<% end %>
<script type="text/javascript">
var __ss_noform = __ss_noform || [];
__ss_noform.push(['baseURI', 'https://app-HSIR8I.sharpspring.com/webforms/receivePostback/szAzBwA/']); __ss_noform.push(['endpoint', '6bd2f905-be09-41a7-ab67-6d6a8188f284']);
</script>
<script type="text/javascript" src="https://koi-HSIR8I.sharpspring.com/client/noform.js?ver=1.24" ></script>



