<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => {:class => "reset" }) do |f| %>
  <%#= devise_error_messages! %>
      <div class='input_box'>
        <%= f.text_field :website,  :class=>"span8 righttextBox", :maxlength => "30",  :placeholder=>"Your website URL", :validate =>{:presence => true} %>
      </div>
      <div class='input_box'>
        <%= f.email_field :email, :class=>"span8 righttextBox" ,:placeholder=>"Your Email id", :validate =>
                        {:presence => true, :uniqueness => true}  %>
      </div>
      <div class='input_box'>
        <label class="checkbox check1">
        <input type="checkbox" style="width: auto;" checked> <p class="checkNotice">Please send me updates and tips from Revenue Grader. <%= link_to 'Privacy Policy', privacy_policy_url%></p>
        </label>
      </div>
      <div class='input_box'>
        <%= f.submit "Sign up and Get Started!", :class=>"btn btn-primary btn-large btnStart" %>
      </div>
      <h5 class="confidential input_box">
        We will keep your personal information strictly confidential
      </h5>
      <%= hidden_field_tag('login', "no")%>
<% end %>




