<!-- <div class="container" style="margin-top:20;">
  <div class="row-fluid">
        <div class="span8 leftBox"> -->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true ) do |f| %>
  <%= devise_error_messages! %>



                <h3>User Name<span>*</span></h3>
                            <%= f.text_field :username,  :class=>"span3", 
                                :placeholder=>"Full Name" %><br>
                                <h3>Email<span>*</span></h3>
                <%= f.email_field :email, :class=>"span3" , :placeholder=>"test@gmail.com"  %><br>
                                <h3>Password<span>*</span><h3>
                                <%= f.password_field :password,  :class=>"span3", :placeholder=>"Password for the site" %><br>
                <label class="checkbox">
                                <input type="checkbox" checked> <p style="font-size:11px; width:220px; margin:10px 0 20px 0;">Please send me updates and tips from Revenue Grader. <a href="#">Privacy Policy</a></p>
                              </label>
                              <%= f.submit "Sign up and Get Started!", :class=>"btn btn-primary btn-large"  %>
                <p style="font-size:11px; color:#67737a; margin:10px 0 0 0;">We will keep your personal information strictly confidential</p>
                <% end %>


  <!-- <%#= f.text_field :username, :validate =>{:presence => true} %><br>

  <h3><%#= f.label :email %><span>*</span></h3>
  <%#= f.email_field :email, :validate => { :presence => true, :uniqueness => false}, :class=>"span3" , :placeholder=>"yourname@company.com"  %><br>

  <h3><%#= f.label :password %><span>*</span></h3>
  <%#= f.password_field :password, :validate => { :presence => true, :confirmation => false} %><br>

  <%#= f.label :password_confirmation %><br />
  <%#= f.password_field :password_confirmation %>
  <label class="checkbox">
     <input type="checkbox" checked> <p style="font-size:11px; width:220px; margin:10px 0 20px 0;">Please send me updates and tips from Revenue Grader. <a href="#">Privacy Policy</a></p>
  </label> -->
  <%#= f.submit "Sign up and Get Started!" %>
<!-- </div><%#= render "links" %>
</div>
</div> -->